.profile-address {
  font-size: 14px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  text-align: center;
  color:#747474;
}
.profile-name {
  font-size: 20px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  text-align: center;
}
.profile-pic {
  overflow: hidden;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0 auto 12px;
}
.book {
  width: 90px;
  height: 130px;
  position: relative;
  display: inline-block;
  margin: auto auto 8px;
  vertical-align: top;

  .action-panel {
    position: absolute;
    padding: 8px;
    opacity: 0;
    top:-8px;
    transition: all 0.3s ease;
  }

  img {
    width:100%;
    height: 100%;
  }
  p {
    position: absolute;
    bottom: 0;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    height: 60px;
    width: 100%;
    padding: 10px;
    color: white;
    box-sizing: border-box;
    line-height: 15px;
  }
}


.example-header-image {

    background-size: cover;
  }
  mat-card {
    overflow: hidden;
    height: 40px;
  }
  mat-card-title{
    margin-bottom: 8px;
  }
  mat-card-header {
    width: auto;
    display: inline-flex;
    vertical-align: middle;
  }
  mat-card-actions {
    float: right;
    display: inline-block;
    vertical-align: top;
    padding: 0px 0;
  }
