<div class="client-site-content">
  <eibo-loader class="mdl-grid client-max-width book-slider" *ngIf="!profileData"></eibo-loader>
  <div class="mdl-grid client-max-width">
    <div class="mdl-cell mdl-cell--12-col">
      <div class="profile-pic">
        <img [src]="profileData?.thumbnail">
      </div>
      <div class="profile-name">{{profileData?.name}}</div>
      <div class="profile-address" *ngIf="profileData?.address">{{profileData?.address?.formatted_address}}</div>
    </div>

    <h4 class="text-subtitle full-width">Books</h4>
    <div class="book" *ngFor="let book of profileData?.books">
      <img *ngIf="book.picture != ''" [src]="book?.picture" (error)="removePicture(book)" [routerLink]="['/app/book/',book?.bookid]">
      <div *ngIf="book.picture == ''" class="no-cover" [routerLink]="['/app/book/',book?.bookid]">
        <div class="no-cover-image"></div>
      </div>
      <p>{{book?.name}}</p>
    </div>
    <h4 class="text-subtitle full-width">Groups</h4>
    <div style="width: 100%">
      <eibo-communities-list [userId]="userId"></eibo-communities-list>
    </div>
  </div>
</div>

