<div>
  <div (click)="scanBarcode()">
    <ng-content></ng-content>
  </div>

  <div class="barcode-overlay" [style.display]="barcodeDisplay">
    <barcode-scanner-livestream type="upc" (valueChanges)="onValueChanges($event)">
    </barcode-scanner-livestream>
    <button mat-raised-button color="primary" (click)="hideBarcode()">cancel</button>
  </div>

</div>
