<div class="loader-wrapper" *ngIf="!ready">
  <eibo-loader></eibo-loader>
</div>

<div class="bookPreview" *ngIf="ready">

  <eibo-image-uploader [image]="cover" (onImageChange)="updateImage($event)"></eibo-image-uploader>

  <form [formGroup]="newBookForm" (ngSubmit)="onSubmitNewBookForm()" novalidate>

    <mat-form-field>
      <input placeholder="Name" aria-label="" matInput formControlName="name">
    </mat-form-field>
    <div *ngIf="newBookForm.get('name').invalid&&newBookForm.get('name').touched" class="validation-error">
      Name is required
    </div>

    <mat-form-field>
      <input placeholder="Author" aria-label="" matInput formControlName="author">
    </mat-form-field>
    <div *ngIf="newBookForm.get('author').invalid&&newBookForm.get('author').touched" class="validation-error">
      Author is required
    </div>

    <mat-form-field>
      <mat-select placeholder="Category: {{categoriesMap[newBookForm.get('category').value]}} (Click to change)"
                  formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input placeholder="Sku" aria-label="" matInput formControlName="sku">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Summary" formControlName="summary"></textarea>
    </mat-form-field>

    <mat-slide-toggle formControlName="pending">
      Pending
    </mat-slide-toggle>

    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>

      <button mat-raised-button color="primary" [disabled]="!newBookForm.valid">
        <span *ngIf="dialogType == 'add'">ADD NEW BOOK</span>
        <span *ngIf="dialogType == 'edit'">UPDATE BOOK</span>
      </button>
    </mat-dialog-actions>
  </form>
</div>
