.loader-wrapper {
  height: 320px;
  min-width: 400px;
}

form {
  width: 100%;
}

mat-form-field,
mat-form-field,
mat-slide-toggle {
  width: 100%;
}

md-icon {
  font-size: 32px;
}

.bookPreview {
  min-width: 400px;

  .new-book {
    width: 92px;
    height: 140px;
    position: relative;
    vertical-align: top;
    margin: 10px auto;
    border: 2px dashed #A7A7A7;
    background-color: rgb(228, 228, 228);
    color: #808080;
  }
  .book {
    width: 92px;
    height: 140px;
    position: relative;
    vertical-align: top;
    margin: 10px auto;
    background-color: #ddd;
    img {
      width: 100%;
      height: 100%;
    }
    p {
      position: absolute;
      bottom: 0;
      height: 15%;
      background-color: rgba(0, 0, 0, 0.5);
      margin: 0;
      height: 36px;
      width: 100%;
      padding: 3px;
      color: white;
      box-sizing: border-box;
      line-height: 15px;
      font-size: 12px;
    }
  }
}
