<div *ngIf="loading; else content" style="padding: 20px; text-align: -webkit-center;">
  <mat-spinner color="warm"></mat-spinner>
</div>
<ng-template #content>
  <button mat-raised-button routerLink="/app/u/create/community"
          color="accent" class="create-group-btn">create group</button>
  <h4 class="text-subtitle" style="display: inline-block; margin-bottom: 12px;">Join Groups</h4>
  <a class="underline-link" routerLink="/app/find-groups">find more</a>
  <swiper class="carousel" [config]="config" style="margin-bottom: 10px;">
    <div class="swiper-wrapper">
      <div class="swiper-slide slide" *ngFor="let community of communities">
        <eibo-community-card [community]="community"></eibo-community-card>
      </div>
    </div>
  </swiper>
</ng-template>
