<div class="loader-wrapper" *ngIf="!ready">
  <eibo-loader></eibo-loader>
</div>

<div *ngIf="ready">

  <form [formGroup]="newCategoryForm" (ngSubmit)="onSubmitNewCategoryForm()" novalidate>

    <mat-form-field>
      <input placeholder="Name" aria-label="" matInput formControlName="name">
    </mat-form-field>
    <div *ngIf="newCategoryForm.get('name').invalid&&newCategoryForm.get('name').touched" class="validation-error">
      Name is required
    </div>

    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>

      <button mat-raised-button color="primary" [disabled]="!newCategoryForm.valid">
        <span *ngIf="dialogType == 'add'">ADD NEW CATEGORY</span>
        <span *ngIf="dialogType == 'edit'">UPDATE CATEGORY</span>
      </button>
    </mat-dialog-actions>
  </form>
</div>
