.group-title {
  font-size: 24px;
  direction: rtl;
}

.group-info-box {
  margin: 15px auto auto;
  width: 90%;

  button {
    width: 100%;
  }
}

.group-detail {
  display: inline-block;
}

.group-detail:not(.last):after {
  content: '·';
  margin: 7px;
}
