<div class="client-site-content">
  <div class="groupHeaderLogo">
    <eibo-banner-display [bannerImage]="community?.logo"></eibo-banner-display>
    <div class="flex flex--column group-info-box">
      <h5 class="group-title">{{community?.name}}</h5>
      <div class="group-title" style="font-size: 16px"
          *ngIf="community?.description">{{community?.description}}</div>
      <h6 class="group-detail" *ngIf="community?.address?.formatted_address"
        >{{community?.address?.formatted_address}}</h6>
      <h6 class="group-detail last" style="display: block;">{{community?.members?.length}} Members</h6>

      <eibo-users-slider [users]="community?.members" [shareText]="shareOnWhatsappText"></eibo-users-slider>

      <eibo-group-books-searcher [communityId]="community?.id"></eibo-group-books-searcher>

      <div style="margin-top: 20px; margin-bottom: 10px">
        <div *ngIf="!userIsGroupOwner()">
          <button mat-raised-button [color]="community?.joined? 'warn' : 'primary'" type="submit"
                  (click)="communityService.joinOrRemoveUserCommunity(community)"
                  [style.width]="community?.joined? 'unset' : '100%'"
          >{{community?.joined? 'Leave group' : 'Join Group'}}</button>
        </div>
        <div *ngIf="userIsGroupOwner()">
          <button mat-raised-button color="primary" [routerLink]="['/app/u/update/community', community?.id]"
          >Edit Group</button>
        </div>
      </div>

    </div>
  </div>
</div>
