mat-toolbar {
  position: fixed;
  z-index: 40;
  box-shadow: 0px 1px 8px #00000077;
}
.btn-fb {
  background-color: #3B5998;
}
.btn-fb[disabled]{
  background-color: #cccccc;
  color:grey;
}
.actions {
  margin: 0px 10px;
}
.icon-btn {
  min-width:0;
  padding: 0 7px;
  height: inherit;

  .mat-badge-content {
    top: 0;
  }

  .mat-button-wrapper {
    padding-top: 5px;
  }

  label {
    line-height: 1.8;
  }

  mat-icon {
    width: 32px;
    height: 32px;
  }
}
.user-displayname {
  font-size:16px;
}
.user-photo {
  height: 40px;
  border-radius: 50%;
}
.nav-buttons {
  margin-top: 4px;
  width: 100%;
  display: inline-flex;
  a {
    flex: 1;
  }
}
.nav-displayname {
  margin-right:2%;
}
.nav-settings {
  mat-icon {
    height: auto;
    line-height: 48px;
  }
}
.notifications-badge {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 50%;
  background-color: #6799cb;
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-size: 10px;
}

:host ::ng-deep .mat-button-wrapper {
  flex-direction: column;
  display: flex;
  align-items: center;
  font-size: 10px;
}

a.active {
  background: #6a6a6a;
}
