<div class="client-site-content">
  <eibo-client-search firstSearcherTitle="groups"
                      [firstObservableGetter]="getGroupsObservable"
                      [withSearchTitle]="false"
                      placeholder="Find Groups"
                      noResultsText="Could not find your group">
    <ng-template #firstSearchTemplate let-group="result">
      <eibo-community-card [community]="group"></eibo-community-card>
    </ng-template>
  </eibo-client-search>
</div>

<h4 class="text-subtitle discover-group-subtitle">Discover Groups</h4>
<button mat-raised-button routerLink="/app/u/create/community"
        color="accent" class="create-group-btn">create group</button>
<eibo-communities-list [fetchAll]="true" [showCount]="10" [loadMoreCount]="10"></eibo-communities-list>

