
img {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.mat-list-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 16px;
  .mat-line {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    box-sizing: border-box;
    line-height: 20px;
  }
}

.create-group-btn {
  position: absolute;
  right: 7px;
  margin-top: 5px;
}

.discover-group-subtitle {
  display: inline-block;
  margin-top: 34px;
}
