
.example-header-image {

  background-size: cover;
}
mat-card {
  overflow: hidden;
  height: 40px;
}
mat-card-title{
  margin-bottom: 8px;
}
mat-card-header {
  width: auto;
  display: inline-flex;
  vertical-align: middle;
}
mat-card-actions {
  float: right;
  display: inline-block;
  vertical-align: top;
  padding: 0px 0;
}
