<ng-content *ngIf="communities"></ng-content>
<eibo-loader class="mdl-grid client-max-width book-slider" *ngIf="!communities"></eibo-loader>
<div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet" *ngFor="let community of communities">
  <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image" [style.background-image]="'url('+community?.logo+')'"></div>
        <mat-card-title>{{community?.name}}</mat-card-title>
        <mat-card-subtitle>{{community?.address?.formatted_address}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-icon-button *ngIf="community?.owner_id" (click)="onEditCommunity(community?.communityid)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="leaveCommunity(community?.usercommunityid)">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
</div>
