<div class="client-site-content">
  <div class="mdl-grid client-max-width">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp page-content">
      <div class="mdl-card__title"><h1 class="mdl-card__title-text">
        {{translate('team.pageHeadline')}}
      </h1></div>
      <div class="mdl-card__media"><img class="article-image" src="./assets/img/tpl/about.jpg" border="0" alt="About">
      </div>
      <div class="mdl-grid site-copy">
        <div class="mdl-cell mdl-cell--12-col">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
              <div class="demo-card-image mdl-card mdl-shadow--2dp aboutEliran">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                  <span class="demo-card-image__filename">Eliran Navon @CEO</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--4-col">
              <div class="demo-card-image mdl-card mdl-shadow--2dp aboutMichael">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                  <span class="demo-card-image__filename">Michael Botstein @CZO</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--4-col">
              <div class="demo-card-image mdl-card mdl-shadow--2dp aboutAviad">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                  <span class="demo-card-image__filename">Aviad Blumenfeld @R&D</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--4-col">
              <div class="demo-card-image mdl-card mdl-shadow--2dp aboutNave">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                  <span class="demo-card-image__filename">Nave Eni @Developer</span>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
