.site-copy {
  max-width: 700px;
}

.demo-card-image {
  &.mdl-card {
    width: 192px;
    height: 192px;
  }

  .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0,0,0,0.3);
  }

  .demo-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }
}

.aboutEliran {
  background: url("/assets/img/eliran-256-256.jpg") center/cover;
}

.aboutMichael {
  background: url("/assets/img/michael-256-256.jpg") center/cover;
}

.aboutAviad {
  background: url("/assets/img/aviad-256-256.jpg") center/cover;
}
