[imageUploader] {
  width: 100%;
/*   display: flex; */

  &.inprogress {
    opacity: 0.3;
  }

  [fileUploadWrapper] {
/*     flex: 1; */
  }

  [inputWrapper] {
/*     flex: 2; */
  }

  [fileWrapper] {
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    width: 0px;
    height: 0px;
    border: none;
    margin: 0;
    padding: 0
  }

  .new-book {
    background-size: 100% 100%;
    max-width: 92px;
    width: 92px;
    height: 140px;
    position: relative;
    vertical-align: top;
    margin: 10px auto;
    border: 2px dashed #A7A7A7;
    background-color: rgb(228, 228, 228);
    color: #808080;
  }

  &.replace {
    .new-book {
      border-color: #fff;
      color: #fff;
    }
  }

  .book {
    width: 92px;
    height: 140px;
    position: relative;
    vertical-align: top;
    margin: 10px auto;
    background-color: #ddd;
    img {
      width: 100%;
      height: 100%;
    }
    p {
      position: absolute;
      bottom: 0;
      height: 15%;
      background-color: rgba(0, 0, 0, 0.5);
      margin: 0;
      height: 36px;
      width: 100%;
      padding: 3px;
      color: white;
      box-sizing: border-box;
      line-height: 15px;
      font-size: 12px;
    }
  }
}



button.empty-book {
  width:120px;
  height: 180px;
  border: 2px dashed #A7A7A7;
  margin:10px;
  color:#808080;
  mat-icon {
    font-size: 32px;
  }
}
