<mat-progress-bar mode="indeterminate" *ngIf="uploadInProcess"></mat-progress-bar>
<div imageUploader [class.replace]="image" [class.inprogress]="uploadInProcess">
  <div fileUploadWrapper>
    <span fileWrapper>
      <input type="file"
             ng2FileSelect
             [uploader]="uploader"
             (change)="upload()"
             accept="image/*"
             #fileInput/>
    </span>
<button (click)="openFilesBrowser();"
        [style.background-image]="'url(' + image + ')'" [ngStyle]="styles"
        mat-button class="empty-book"
        style="width:90px;height:135px;display: inline-block;vertical-align: top">

      <i class="material-icons">add</i>
      Upload Image
    </button>

  </div>
</div>
