<eibo-client-search firstSearcherTitle="Books"
                    [firstObservableGetter]="getBooksObservable"
                    secondSearcherTitle="Friends"
                    [secondObservableGetter]="getFriendsObservable"
                    placeholder="Book, Author or Friend"
                    noResultsText="Could not find your book">
  <ng-template #firstSearchTemplate let-book="result">
    <eibo-book-search-result [book]="book"></eibo-book-search-result>
  </ng-template>

  <ng-template #secondSearchTemplate let-friend="result">
    <a mat-list-item [routerLink]="['/app/profile',friend.id]">
      <img *ngIf="friend.picture" [src]="friend.picture" height="100%" />
      <h2  mat-line>{{ friend.name }}</h2>
    </a>
  </ng-template>
</eibo-client-search>
