


<h2 mat-dialog-title>Merge book</h2>
<mat-dialog-content>

  <mat-form-field *ngIf="!replaceWithBook">
    <input placeholder="Search Book for merge" aria-label="" [matAutocomplete]="auto" (keyup)="search($event.target.value)" matInput #searchBook>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let _book of books$ | async" [value]="_book?.name" (onSelectionChange)="bookSelected($event, _book)">
        <img style="vertical-align:middle;" aria-hidden [src]="_book?.picture" height="25" />
        <span>{{ _book.name }}</span> |
        <small>Author: {{_book.author}}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div *ngIf="replaceWithBook">
    Delete '<span class="bold">{{currentBook.name}}'</span> and replace it with '<span class="bold">{{replaceWithBook.name}}</span>'?
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button mat-raised-button [mat-dialog-close]="true" color="warn" (click)="merge()">Delete and replace</button>
</mat-dialog-actions>
