<swiper class="carousel" [class.hide-buttons]="hideButtons" [config]="config">
  <div class="swiper-wrapper">
    <div class="swiper-slide slide" *ngFor="let book of books; trackBy: trackByFunc" style="padding: 8px 0">
      <img *ngIf="book?.picture" src="{{ book?.picture }}" (error)="removePicture(book)" alt="{{book.name}}"
           class="slider-image" width="100%"
           (click)="onSlideClick.emit(book)">
      <div *ngIf="!book?.picture" style="height: 150px; background: black">
        <img [src]="EIBO_LOGO"
             alt="logo"
             style="padding-top: 50px; margin: auto; display: block"
             (click)="onSlideClick.emit(book)">
      </div>
      <div class="book-info-slick" eiboReadMore matTooltip="{{book.name}}">{{book.name}}</div>
      <div class="book-info-slick" eiboReadMore matTooltip="{{book.author}}"
           style="opacity: .6;">{{book.author}}
      </div>
      <eibo-star-display *ngIf="book?.rating" [rating]="book?.rating" class="text-center block"
                         [numberOfStars]="5"></eibo-star-display>
      <button *ngIf="withWriteReview" (click)="openReviewModal(book)"
              mat-stroked-button class="write-review-button">
        <mat-icon>subject</mat-icon>
        Review
      </button>
    </div>
  </div>
</swiper>
