
.book-info-slick {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  font-weight: var(--glue-font-weight-bold);
}

.slider-image {
  margin: auto;
  height: 150px;
}

.write-review-button {
  padding: 0 6%;
  margin: 3px auto auto;
  display: block;
}
