<eibo-client-search firstSearcherTitle="Books"
                    [firstObservableGetter]="getBooksObservable"
                    placeholder="Search book in Group"
                    noResultsText="Could not find your book"
                    [withSearchTitle]="false">
  <ng-template #firstSearchTemplate let-book="result">
    <eibo-book-search-result [book]="book"></eibo-book-search-result>
  </ng-template>
</eibo-client-search>
