
form {
  padding: 0 14px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* mat-form-field {
  width: 100%;
} */
md-icon {
  font-size: 32px;
}
.checkbox-container {
  margin-top: 5px;
  padding-bottom: 8px;
}
.bookPreview {
  display: flex;
  flex-direction: column;
  height: 100%;

  .new-book {
    width: 92px;
    height: 140px;
    position: relative;
    display: block;
    margin: 10px auto;
    border: 2px dashed #A7A7A7;
    background-color: rgb(228, 228, 228);
    color:#808080;
  }
  .book {
    flex-grow: 1;
    position: relative;
    vertical-align: top;
    h2 {
      font-size: 16px;
      color: white;
      padding: 0 10px;
      margin: 0;
      text-shadow: 1px 1px 3px #00000040;
    }
    img {
      width: 100%;
      height: 100%;
    }
    .book-title {
      position: absolute;
      bottom: 0;
      margin: 0;
      color: white;
      line-height: 20px;
      text-align: center;
      direction: rtl;
      background: #000000a6;
      padding: 6% 0 12% 0;
      width: 100%;
      font-size: 20px;
    }
  }

  .logo-book {
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;

    div {
      width: 100%;
      height: 100%;
    }
  }
}

.new-book-no-grow{
  flex: 0 !important;
}

.star {
  width: 15px !important;
  height: 15px !important;
}

:host ::ng-deep {
  .mat-button-toggle-button {
    height: 100%;
  }

  .mat-button-toggle {
    flex-grow: 1;
    text-align: center;
    color: white;
    font-weight: 400;
    white-space: normal;
  }

  .mat-button-toggle-label-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    line-height: 22px !important;
    padding: 0 9px !important;
    font-size: 10px;
  }

  .mat-button-toggle-group {
    margin: 6px 0;
    min-height: 47px;
  }

  .flex-column-separator {
    width: 100%;
    flex: 1;
    display: -webkit-box;
    div {
      width: 100%;
    }
  }

  @category-group-border-color: #9b9b9bd1;
  .book-category-group {
    DISPLAY: grid;
    grid-template-columns: auto auto;
    min-height: 70px;
    //border: 1px solid @category-group-border-color;

    label {
      font-size: 16px;
      color: black;
    }

    mat-button-toggle {
      border-bottom: 1px solid @category-group-border-color;
      border-right: 1px solid @category-group-border-color;
      border-top: none;
    }

    mat-button-toggle:nth-child(odd) {
      border-left: 1px solid @category-group-border-color !important;
    }

    mat-button-toggle:first-child, mat-button-toggle:nth-child(2) {
      border-top: 1px solid @category-group-border-color;
    }
  }
}

.btn-great {
  background-color: green;
  &.mat-button-toggle-checked{
    background-color: darkgreen;
  }
}
.btn-ok {
  background-color: darkorange;
  &.mat-button-toggle-checked{
    background-color: #d75f00;
  }
}
.btn-bad {
  background-color: red;
  &.mat-button-toggle-checked{
    background-color: darkred;
  }
}

.mat-button-toggle-checked {
  border: white 2px solid;
}





:host ::ng-deep eibo-add-book-panel{
  form {
    margin: 30px auto 15px;
    height: 100%;
    width: 100%;
  }

  .add-book-form {
    width: 100%;
    height: 100%;
    .add-book-fields {
      width: 95%;
      margin: 0 10px 20px;
    }
  }

  eibo-image-uploader {
    flex: 1;
    display: flex;
    margin: 5px;
  }

  [imageUploader] {
    display: flex;
    flex: 1;
  }

  [fileuploadwrapper] {
    display: flex;
    flex: 1;
    button {
      width: 100% !important;
      height: 100% !important;
      background-position-x: center;
      background-position-y: top;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }
}

.button-delete {
  padding: 0;
  width: 40px;
  min-width: 0;
}
