<div class="bookPreview">
  <div class="book" *ngIf="!this.uploadNewBook"
       [ngStyle]="{'background': 'url(' + bookUserInfo.cover_url + ') no-repeat center top / 100%','background-size':'100%'}">
    <div class="logo-book" *ngIf="!bookUserInfo.cover_url">
      <div
        [ngStyle]="{'background': 'url('+ EIBO_LOGO + ') center / 90% no-repeat'}">
      </div>
    </div>
    <mat-icon>{{bookUserInfo.bookUserId ? 'edit' : 'add'}}</mat-icon>
    <div class="book-title">{{bookUserInfo.name}}</div>
  </div>
  <div class="book new-book-no-grow" *ngIf="this.uploadNewBook">
    <eibo-add-book-panel [bookName]="this.data?.bookName"></eibo-add-book-panel>
  </div>

  <form [formGroup]="reviewForm" novalidate>
    <mat-button-toggle-group class="condition-buttons" formControlName="condition" color="primary">
      <mat-button-toggle value="new" class="btn-great" mat-raised-button>
        <label>New - Like New</label>
        <mat-icon>sentiment_very_satisfied</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="good" class="btn-ok" mat-raised-button>Very good
        <mat-icon>sentiment_satisfied</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="used" class="btn-bad" mat-raised-button>Used
        <mat-icon>sentiment_very_dissatisfied</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <label>choose category:</label>
    <mat-button-toggle-group formControlName="category" class="book-category-group">
      <mat-button-toggle [value]="READING_CATEGORY" mat-raised-button>
        <label>{{CATEGORIES_NAMES[READING_CATEGORY]}}</label>
      </mat-button-toggle>
      <mat-button-toggle [value]="NONFICTION_CATEGORY" mat-raised-button>
        <label>{{CATEGORIES_NAMES[NONFICTION_CATEGORY]}}</label>
      </mat-button-toggle>
      <mat-button-toggle [value]="CHILDREN_CATEGORY" mat-raised-button>
        <label>{{CATEGORIES_NAMES[CHILDREN_CATEGORY]}}</label>
      </mat-button-toggle>
      <mat-button-toggle [value]="LEARNING_CATEGORY" mat-raised-button>
        <label>{{CATEGORIES_NAMES[LEARNING_CATEGORY]}}</label>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <div class="flex-column-separator"></div>
    <div>
      <div style="display: flex; min-height: 32px;">
        <button mat-raised-button type="submit" color="primary" style="width: 100%;" (click)="onSubmitReview()"
                [disabled]="!reviewForm.valid || !isAddBookPanelValid() || isSubmit">
          {{data?.userBookId? 'SAVE CHANGES' : 'ADD TO MY LIBRARY'}}
        </button>
        <button mat-raised-button color="warn" class="btn top button-delete"
                *ngIf="data?.userBookId != null" (click)="deleteBook(this.data?.userBookId)">
          <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">delete</mat-icon>
        </button>
      </div>

      <div class="checkbox-container">
        <mat-checkbox color="primary" formControlName="ready_for_swap">
          I Own & I'll trade this book
        </mat-checkbox>
      </div>

      <div *ngIf="isSubmit" style="display: inline-block">
        <mat-spinner [diameter]="25" [strokeWidth]="4"></mat-spinner>
      </div>
    </div>
  </form>
</div>
