form {
  width: 100%;
}

.mat-form-field{
  display: block;
  width: 100%;
}

.user-photo {
  margin-bottom: 20px;
  border-radius: 4px;
  width:120px;
  height:120px;
}

.success-contact {
  text-align: center;
  color: #5dc85d;
  margin: 40px 0;
}

.success-contact h1.mdl-card__title-text {
  font-size: 32px;
}

.success-contact h2.mdl-card__title-text {
  font-size: 19px;
}

mat-icon {
  font-size: 65px;
  white-space: pre-line;
}

.error {
  color: red;
  display: inline-block;
  font-size: 12px;
  margin: 10px 0;
}

button {
  display: block;
}

.article-image {
  width: 100%;
}
