<h2 mat-dialog-title>Suggest a new book</h2>
<!-- <mat-form-field *ngIf="!isNewBook&&!isSelected">
  <input placeholder="Search Book" aria-label="" [matAutocomplete]="auto" (keyup)="search($event.target.value)" matInput
         #searchInput>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option (click)="createBook(searchInput.value)" *ngIf="searchInput.value" [value]="searchInput.value">
      <span>Add "{{searchInput.value}}"</span>
    </mat-option>
    <mat-option *ngFor="let _book of results$ | async" [value]="_book?.name" (onSelectionChange)="bookSelect(_book)">
      <img style="vertical-align:middle;" aria-hidden [src]="_book?.picture" height="25"/>
      <span>{{ _book.name }}</span> |
      <small>Author: {{_book.author}}</small>
    </mat-option>
  </mat-autocomplete>

</mat-form-field>

 -->
<div class="bookPreview">

  <eibo-image-uploader [image]="bookForm.get('cover_url').value" (onImageChange)="updateBookCover($event)"></eibo-image-uploader>

  <form [formGroup]="bookForm" (ngSubmit)="onSubmitBook(bookForm.value,bookForm.valid)" novalidate>

    <mat-form-field>
      <input placeholder="Name" aria-label="" matInput formControlName="name">
    </mat-form-field>
    <div *ngIf="bookForm.get('name').invalid&&bookForm.get('name').touched" class="validation-error">Name is
      required
    </div>
    <mat-form-field>
      <input placeholder="Author" aria-label="" matInput formControlName="author">
    </mat-form-field>
    <div *ngIf="bookForm.get('author').invalid&&bookForm.get('author').touched" class="validation-error">
      Author is required
    </div>

    <button mat-raised-button type="submit" color="primary" [disabled]="!bookForm.valid || isSubmit">ADD NEW BOOK</button>
    <mat-spinner  *ngIf="isSubmit" [diameter]="35" [strokeWidth]="4"></mat-spinner>
  </form>
</div>

