form {
  width: 100%;
}

mat-form-field {
  width: 100%;
}
md-icon {
  font-size: 32px;
}
.checkbox-container {
  margin: 2px 12px 18px;
}
.book-image {
  width: 92px;
  height: 140px;
  margin: 10px auto;
  position: relative;
  vertical-align: top;
  background-color: #ddd;
  img {
    width: 92px;
    height: 140px;
  }
}
button.book-image {
  border: 0;

}
