<h2 mat-dialog-title *ngIf="!showForm">Join Community</h2>
<h2 mat-dialog-title *ngIf="isEdit&&showForm">EDIT Community</h2>
<h2 mat-dialog-title *ngIf="!isEdit&&showForm">CREATE Community</h2>
<div *ngIf="!showForm">
  <mat-form-field>
    <input placeholder="Search Community" aria-label="" [matAutocomplete]="auto" (keyup)="search($event.target.value)"
           matInput
           #searchInput>

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option (click)="createCommunity(searchInput.value)" *ngIf="searchInput.value" [value]="searchInput.value">
        <span>Create "{{searchInput.value}}"</span>
      </mat-option>
      <mat-option *ngFor="let _community of communities$ | async" [value]="_community?.name"
                  (onSelectionChange)="communitySelected(_community)">
        <img style="vertical-align:middle;" aria-hidden [src]="_community?.logo" height="25"/>
        <span>{{ _community.name }}</span>
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>
  <button mat-raised-button type="submit" color="primary" [disabled]="!selectedId" (click)="joinCommunity(selected)">
    Join Community
  </button>
</div>

<div class="communityPreview" [style.display]="showForm ? 'block' : 'none'">

  <eibo-image-uploader [image]="communityForm.get('logo').value"
                       (onImageChange)="updateCommunityPicture($event)"></eibo-image-uploader>

  <form [formGroup]="communityForm" (ngSubmit)="onSubmitCommunity(communityForm.value,communityForm.valid)" novalidate>

    <mat-form-field>
      <input placeholder="Name" aria-label="" matInput formControlName="name">
    </mat-form-field>
    <div *ngIf="communityForm.get('name').invalid&&communityForm.get('name').touched" class="validation-error">Name is
      required
    </div>
    <mat-form-field>
      <input type="text" placeholder="Address"
             matInput
             #inputAddress
             (keyup)="changeAddress()"
             [value]="communityForm.get('address').value?.formatted_address">
    </mat-form-field>
    <div *ngIf="communityForm.get('address').invalid&&communityForm.get('address').touched" class="validation-error">
    </div>
    <button mat-raised-button type="submit" color="primary"
            *ngIf="isEdit"
            [disabled]="!communityForm.valid">Save Changes
    </button>

    <button mat-raised-button type="submit" color="primary"
            *ngIf="!isEdit"
            [disabled]="!communityForm.valid">ADD NEW Community
    </button>
  </form>
</div>

