form {
  width: 100%;
}

mat-form-field {
  width: 100%;
}
md-icon {
  font-size: 32px;
}
.checkbox-container {
  margin: 2px 12px 18px;
}
.community-image {
  width: auto;
  height: 140px;
  text-align: center;
  img {
    margin:0 auto;
    height: 140px;
  }
}
button.community-image {
  border:0;
  width: 140px;
  height: 140px;
}
.communityPreview {

  .new-community {
    width: 140px;
    height: 140px;
    display: block;
    margin: 10px auto;
    position: relative;
    border: 2px dashed #A7A7A7;
    background-color: rgb(228, 228, 228);
    color:#808080;
  }
  .community {
    width: 92px;
    height: 140px;
    position: relative;
    vertical-align: top;
    margin: 10px auto;
    background-color: #ddd;
    img {
      width: 100%;
      height: 100%;
    }
    p {
      position: absolute;
      bottom: 0;
      height: 15%;
      background-color: rgba(0, 0, 0, 0.5);
      margin: 0;
      height: 36px;
      width: 100%;
      padding: 3px;
      color: white;
      box-sizing: border-box;
      line-height: 15px;
      font-size: 12px;
    }
  }
}
