<h2 matDialogTitle>{{errorTitle || 'Error'}}</h2>
<mat-dialog-content>
  <h4 style="text-align: center">{{errorMsg}}</h4>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button matDialogClose="confirm" color="warn">OK</button>
</mat-dialog-actions>
