<div class="example-container mat-elevation-z8">
  <div class="example-header" [style.display]="pending ? 'none' : 'flex'">
    <div>
      <button mat-button color="primary" (click)="addBook()">+ Add new book</button>
    </div>
    <mat-form-field floatLabel="never">
      <input matInput #filter placeholder="Filter books">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="author">
      <mat-header-cell *matHeaderCellDef> Author </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.author}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
      <mat-cell *matCellDef="let row">{{categories[row.category]}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cover_url">
      <mat-header-cell *matHeaderCellDef> Cover </mat-header-cell>
      <mat-cell *matCellDef="let row"> <img [src]="row.thumbnail" class="cover-photo"> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="pending">
      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-chip-list>
          <mat-chip *ngIf="row.pending" color="accent" selected="true">Pending</mat-chip>
        </mat-chip-list>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button (click)="editBook(row.id)">Edit</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="merge_identical">
      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button (click)="mergeBook(row.id)">Merge</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button (click)="deleteBook(row.id, row.name)">Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
