<div sidenavList>
  <mat-list>

    <mat-list-item *ngIf="(user$ | async)?.admin" (click)="closeSideBar()">
      <mat-icon mat-list-icon>visibility</mat-icon>
      <p mat-line>
        <a [routerLink]="['/app/admin/main']">{{translate('sidenav.adminLink')}}</a>
      </p>
    </mat-list-item>

    <mat-list-item (click)="closeSideBar()">
      <mat-icon mat-list-icon>info</mat-icon>
      <p mat-line>
        <a [routerLink]="['/app/about']">{{translate('sidenav.aboutLink')}}</a>
      </p>
    </mat-list-item>

    <mat-list-item (click)="closeSideBar()">
      <mat-icon mat-list-icon>message</mat-icon>
      <p mat-line>
        <a [routerLink]="['/app/contact']">{{translate('sidenav.contactLink')}}</a>
      </p>
    </mat-list-item>

    <mat-list-item (click)="closeSideBar()">
        <mat-icon mat-list-icon>book</mat-icon>
        <p mat-line>
          <a [routerLink]="['/app/report']">Report Issue</a>
        </p>
    </mat-list-item>

    <mat-list-item class="mdl-cell--hide-tablet mdl-cell--hide-desktop" *ngIf="!isAuth" (click)="fbLogin()">
      <mat-icon mat-list-icon>face</mat-icon>
      <p mat-line>
        <span class="demo-2">{{translate('sidenav.facebookLogin')}}</span>
      </p>
    </mat-list-item>

    <!--<mat-list-item *ngIf="lang!='en'" (click)="setLang('en')">-->
      <!--<mat-icon mat-list-icon>language</mat-icon>-->
      <!--<p mat-line>-->
        <!--<span> English </span>-->
      <!--</p>-->
    <!--</mat-list-item>-->

    <!--<mat-list-item *ngIf="lang!='he'" (click)="setLang('he')">-->
      <!--<mat-icon mat-list-icon>language</mat-icon>-->
      <!--<p mat-line>-->
        <!--<span> עברית </span>-->
      <!--</p>-->
    <!--</mat-list-item>-->

    <mat-list-item *ngIf="isAuth" (click)="logout()">
      <mat-icon mat-list-icon>power_settings_new</mat-icon>
      <p mat-line>
        <span>{{translate('sidenav.logout')}}</span>
      </p>
    </mat-list-item>

  </mat-list>

</div>
