<div style="display: grid; grid-template-columns: auto auto;">
  <div *ngFor="let user of users | slice:0:showCount">
    <eibo-user-bubble [user]="user" style="display: block; margin-bottom: 15px;"></eibo-user-bubble>
  </div>
</div>
<button mat-flat-button *ngIf="showCount < users?.length" (click)="increaseShowCount()">Load More</button>
