
.mdl-layout__content {
  background: ~"linear-gradient(rgba(255, 255, 255, 0.2), #ffffff, #ffffff)";
  z-index: auto;
}
.mdl-layout__content::after {
  content: "";
  opacity: 0.67;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background: url(/assets/img/chat-bg.jpg) repeat;
  z-index: -1;
  max-height: 40vh;
}
