<div class="client-site-content">
    <div class="mdl-layout">
        <section class="mdl-layout__content">
          <div class="mdl-grid client-max-width">
            <div class="mdl-cell mdl-cell--12-col page-content">
        <!--       <nav mat-tab-nav-bar>
                <a mat-tab-link
                  *ngFor="let link of [{path:'profile',label:'Basic'},{path:'library',label:'My Library'},{path:'communities',label:'Communities'}]"
                  [routerLink]="link.path"
                  routerLinkActive #rla="routerLinkActive"
                  [active]="rla.isActive">
                  {{link.label}}
                </a>
              </nav> -->
              <router-outlet></router-outlet>
            </div>
          </div>
        </section>
      </div>
</div>
