<div class="client-site-content">
  <div class="mdl-layout">
    <eibo-loader *ngIf="!book"></eibo-loader>
    <section class="mdl-layout__content" *ngIf="book">
      <div style="margin: 8px 8px 0;">
        <button  mat-raised-button (click)="toggleFollowBook()"
                 [color]="followed ? '' : 'accent'"
        >{{followed? 'unfollow' : 'Follow up'}}</button>
        <mat-icon style="vertical-align: middle;"
                #follow_tooltip="matTooltip"
                (click)="follow_tooltip.toggle()"
                [matTooltip]="'Check here to get notified when a new copy comes up'">
          info
        </mat-icon>
      </div>
      <div class="mdl-grid client-max-width">
        <div class="mdl-cell--4-col  mdl-cell--8-col-tablet book-image">
          <img *ngIf="book?.cover_url" [src]="book?.cover_url" (error)="removeCover(book)"
               style="width:100%;max-width:140px;border-radius: 10px;">
          <div class="logo-book" *ngIf="!book?.cover_url">
            <div [ngStyle]="{'background': 'url(' + EIBO_LOGO + ') center / 90% no-repeat'}">
            </div>
          </div>
        </div>
        <div class="mdl-cell--8-col book-info  mdl-cell-8-col-tablet">
          <p class="inline-align" style="margin: 3px 0 10px">
            <eibo-star-display [rating]="book?.reviewsum/book?.reviewcount" [numberOfStars]="'5'"></eibo-star-display>
            <span *ngIf="book?.reviewcount > 0">({{book?.reviewcount}})</span>
          </p>
          <h4 style="
          margin: 10px 0 2px;
          font-weight: 700;
          ">{{book?.name}}</h4>
          <span style=" font-size: 22px;">{{book?.author}}</span>
        </div>

        <mat-tab-group style="width: 100%;">

          <mat-tab label="Book Holders">
            <div class="mdl-cell mdl-cell--12-col">
              <eibo-loader *ngIf="!reviews"></eibo-loader>
              <mat-list *ngIf="reviews">
                <div *ngFor="let review of reviews">
                  <mat-list-item>
                    <img [routerLink]="['/app/profile',review?.userid]" matListAvatar [src]="review?.userphoto" alt="...">
                    <a [routerLink]="['/app/profile',review?.userid]" class="strong underline" mat-line>{{review?.username}}</a>
                    <p mat-line class="user-brief">
                      <button mat-button color="primary" *ngIf="review?.communities"
                         #tooltip="matTooltip"
                         (click)="tooltip.toggle()"
                         [matTooltip]="review?.communities.join(', ')">
                        {{
                        review?.communities.length + ' Group' + (review?.communities.length > 1 ? 's' : '')
                        }}
                      </button>
                      <span *ngIf="review?.communities && review?.distance"> | </span>
                      <span *ngIf="review?.distance">
                        {{review?.distance ? ( review?.distance + ' Km\'s') : ''}}
                      </span>
                    </p>
                    <button mat-icon-button color="primary" style="float:right; margin-bottom: 6%;"
                            #swapTooltip="matTooltip"
                            matTooltip="You can press the swap button to exchange books with friends"
                            (click)="swap(book,review)">
                      <i class="ico ico-swap-blue ico-medium"></i>
                    </button>
                  </mat-list-item>
                  <span class="sexy-seperator"></span>
                </div>
              </mat-list>

              <div *ngIf="!reviews || reviews?.length == 0" style="text-align: center">
                <h5>No Holders for this book</h5>
                <button  mat-raised-button (click)="toggleFollowBook()"
                         [color]="followed ? '' : 'accent'"
                >{{followed? 'unfollow' : 'Follow up'}}</button>
                <h6>Check here to get notified when a new copy comes up</h6>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Reviews" [disabled]="book.reviewcount == 0">
            <div class="mdl-cell mdl-cell--12-col">
              <eibo-loader *ngIf="!reviews"></eibo-loader>
              <mat-list *ngIf="reviews">
                <div *ngFor="let review of reviews">
                  <mat-list-item class="review-list-item" *ngIf="review.rating > 0">
                    <h4 mat-line [routerLink]="['/app/profile',review?.userid]"
                        class="strong" style="display: flex;" mat-line>
                      <img [routerLink]="['/app/profile',review?.userid]" style="margin: 0 10px 10px 0"
                           matListAvatar [src]="review?.userphoto" alt="...">
                      {{review?.username }}
                      <eibo-star-display class="stars-inline" [rating]="review?.rating" [numberOfStars]="'5'"></eibo-star-display>
                    </h4>
                    <div mat-line class="review-body">
                      <div [ngClass]="{'read-more': !review?.open, 'read-less': review?.open}">{{review?.review}}</div>
                      <button mat-button color="primary" (click)="review['open']=true" *ngIf="review?.review.length>25&&!review?.open">read more</button>
                      <button mat-button color="primary" (click)="review['open']=false" *ngIf="review?.review.length>25&&review?.open">read less</button>
                    </div>
                  </mat-list-item>
                  <span class="sexy-seperator" *ngIf="review.rating > 0"></span>
                </div>
              </mat-list>
            </div>


          </mat-tab>

          <mat-tab label="Summary" [disabled]="!book?.summary || book?.summary == ''">
            <p style="padding-top:20px; direction: rtl;" *ngIf="book?.summary" [innerHTML]="book?.summary">
            </p>
          </mat-tab>
        </mat-tab-group>

      </div>
    </section>
  </div>
</div>
