.user-brief {
  font-size: 13px;
  color: #898989;
}
.review-body {
  margin-left:88px;
  direction: rtl;
}
.book-info {
  text-align: right;
}
.mdl-grid {
  padding: 4% 4%;
}
mat-list-item {
  padding-top:3%;
}

.mdl-layout__content {
  background: ~"linear-gradient(rgba(255, 255, 255, 0.2), #ffffff, #ffffff)";
  z-index: auto;
}
.mdl-layout__content::after {
  content: "";
  opacity: 0.67;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background: url(/assets/img/chat-bg.jpg) repeat;
  z-index: -1;
  max-height: 50vh;
}

@media screen and (max-width: 767px) {
  .book-info,.book-image {
    text-align: center;
  }
}

.logo-book {
  background: black;
  display: block;
  width: 137px;
  height: 200px;
  border-radius: 3%;
  margin: auto;

  div {
    width: 100%;
    height: 100%;
  }
}
.review-list-item{
  height: 100% !important;
  padding: 8px 0;
}

.stars-inline {
  width: 150px;
  vertical-align: middle;
  text-align: right;
  flex: 1;
}

:host ::ng-deep .mat-tab-label{
  flex: 1;
}
