.add-group-image {
  width: 100%;
  height: 100px;
}

.new-group-fields {
  display: grid;
  width: 90%;
  margin: 20px auto;
}

.new-group-fields-label {
  font-size: 20px;
  font-weight: bolder;
  margin: 14px 0;
}

.create-group-title {
  margin: 20px 10px;
  display: inline-block;
}
