<div class="client-site-content">
  <mat-toolbar color="warn" *ngIf="community?.is_approved === false">
    <mat-toolbar-row>
      <span>Your group has not been approved yet</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <h3 class="create-group-title">{{community ? 'Edit' : 'Create'}} a new Group</h3>
  <eibo-image-uploader
    [image]="newGroupForm.value.logo" (onImageChange)="updateGroupImage($event)"
    [styles]="{width: '100%', margin: '0', height: '220px', 'border-style': 'solid',
        'background-position-y': 'center', 'background-size': '100% 100%'}"></eibo-image-uploader>

  <form class="new-group-fields" [formGroup]="newGroupForm">
    <label class="new-group-fields-label">Give a name for you new group</label>
    <mat-form-field color="primary"  [floatLabel]="'never'">
      <input type="text" matInput placeholder="Group Name" formControlName="groupName">
    </mat-form-field>
    <label class="new-group-fields-label">Describe what your group is about</label>
    <mat-form-field color="primary"  appearance="outline" [floatLabel]="'never'">
      <textarea type="text" matInput maxlength="500" #textarea
                style="height: 90px;" formControlName="groupDescription"
      placeholder="This is a good description about what my group do and love"></textarea>
      <mat-hint align="end">{{textarea.value?.length || 0}}/500</mat-hint>
    </mat-form-field>

    <ul >
      <li>
        A good, detailed description helps attract the right members.
      </li>
      <li>
        Most descriptions are at least a few sentences long.
      </li>
    </ul>

    <div style="display: flex">
      <button mat-raised-button color="primary" type="submit" class="full-width"
              [disabled]="!newGroupForm.valid"
              (click)="createOrUpdateNewGroup()">{{community ? 'Update' : 'Create'}} Group</button>
      <button *ngIf="community != null" mat-raised-button color="warn" (click)="deleteCommunity()">
        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">delete</mat-icon>
      </button>
    </div>
  </form>
</div>
