
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">
          Report An Issue
        </h1>
      </div>
      <div class="mdl-grid site-copy">
        <div class="mdl-cell mdl-cell--12-col">
          <div class="success-contact" *ngIf="isSuccess">
            <h1 class="mdl-card__title-text">123</h1>
            <h2 class="mdl-card__title-text">בלה</h2>
            <mat-icon>check circle</mat-icon>
          </div>
          <form [formGroup]="issueForm" (ngSubmit)="onSubmit(issueForm)" *ngIf="!isSuccess">
            <div class="form-control">
              <mat-form-field>
                <input type="text" matInput placeholder="שם" [formControl]="issueForm.controls['name']">
              </mat-form-field>
            </div>
            <div class="form-control">
              <mat-form-field>
                <input type="text" matInput placeholder="כתובת אימייל" [formControl]="issueForm.controls['email']">
              </mat-form-field>
            </div>
            <div class="form-control">
              <mat-form-field>
                <mat-select [formControl]="issueForm.controls['issue']" placeholder="תיאור ..">
                  <mat-option value="תקלה בצאט">תקלה בצאט</mat-option>
                  <mat-option value="תקלה בצאט">תקלה בהוספת עריכת או מחיקת ספר</mat-option>
                  <mat-option value="תקלה בצאט">תקלה בתהליך ההרשמה</mat-option>
                  <mat-option value="תקלה בצאט">אחר</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-control">
              <mat-form-field>
                <textarea matInput placeholder="פירוט" [formControl]="issueForm.controls['message']"></textarea>
              </mat-form-field>
            </div>
          <div class="form-control">
            <button mat-raised-button [disabled]="!issueForm.valid || isSent" type="submit">שלח</button>
          </div>
          </form>
          </div>
        </div>
