<div class="client-site-content">
  <div class="mdl-grid client-max-width">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp page-content">
      <div class="mdl-card__title"><h1 class="mdl-card__title-text">
        {{translate('contact.pageHeadline')}}
      </h1></div>
      <div class="mdl-card__media"><img class="article-image" src="./assets/img/tpl/about.jpg" border="0" alt="About">
      </div>
      <div class="mdl-grid site-copy">
        <div class="mdl-cell mdl-cell--12-col">
            <div class="success-contact" *ngIf="isSuccess">
              <h1 class="mdl-card__title-text">{{translate('contact.messageSentMessage')}}</h1>
              <h2 class="mdl-card__title-text">{{translate('contact.getBackMessage')}}</h2>
              <mat-icon>check circle</mat-icon>
            </div>
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)" *ngIf="!isSuccess">
              <mat-form-field>
                <input type="text" matInput [placeholder]="translate('contact.name')" [formControl]="contactForm.controls['name']">
              </mat-form-field>
              <!-- <span *ngIf="!contactForm.controls['name'].valid && contactForm.controls['name'].touched"
                    class="ui error message">Name is required</span>   -->
              <mat-form-field>
                <input type="text" matInput [placeholder]="translate('contact.email')" [formControl]="contactForm.controls['email']">
              </mat-form-field>
              <mat-form-field>
                <textarea matInput [placeholder]="translate('contact.message')" [formControl]="contactForm.controls['message']"></textarea>
              </mat-form-field>
              <button mat-raised-button [disabled]="!contactForm.valid || isSent" type="submit">{{translate('contact.send')}}</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
