<div class="mdl-layout">
  <div class="mdl-layout__content">
    <!-- STEP 1 -->
    <div class="step-container" [class.active]="currentStep==1">
      <div class="dialog-header">
        <h4>Welcome to EiBO</h4>
        <p class="material-icons">cloud</p>
        <p>Where you can share your book collection and find fascinating new books at your friends doorstep</p>
      </div>
    </div>
    <!-- STEP 2 -->
    <div class="step-container" [class.active]="currentStep==2">
      <div class="dialog-header">
        <p>In order to help you find new books around you, please provide your address first</p>
        <eibo-geolocation-field #geolocationField autofocus></eibo-geolocation-field>
      </div>
    </div>
    <!-- STEP 3 -->
    <div class="step-container" [class.active]="currentStep==3">
      <div class="dialog-header">
        <p>Connect yourself to other people, Add yourself to one of our
          <span class="bold">communities</span>:</p>
      </div>
      <eibo-loader *ngIf="!communities">
      </eibo-loader>
      <mat-list class="community-list">
        <mat-list-item *ngFor="let community of communities; let i=index" class="community-list-item" [class.active]="selectedCommunity==community"
          (click)="selectCommunity(i)">
          <img [src]="community.logo">
          <div class="mat-list-text">
            <h4 class="mat-line multiline-text">{{community.name}}</h4>
            <p class="mat-line"> {{community?.address?.formatted_address}} </p>
          </div>
        </mat-list-item>
      </mat-list>
      <!--
        <div *ngFor="let community of communities" class="mdl-cell mdl-cell--12-col">
          <mat-card class="example-card" (click)="communitySelect(community.id)">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image" [style.background-image]="'url('+community.logo+')'"></div>
              <mat-card-title>{{community.name}}</mat-card-title>
              <mat-card-subtitle>{{community.address.formatted_address}}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div> -->
    </div>
    <!-- STEP 4 -->
    <div class="step-container" [class.active]="currentStep==4">
      <div class="dialog-header">
        <p>Now it's time to build your library, lets add your first
          <span class="bold">book</span>!
        </p>
        <p>
        </p>
      </div>
    </div>
    <!-- STEP 5 -->
    <!-- <div class="step-container" [class.active]="currentStep==5">
      <div class="dialog-header">
        <p  style="font-size:14px">
          To add a
          <span class="bold">book</span> just fill the top form in your books page.
          <br/> if your book already exist in our system, it will auto-complete the name so you can select it.</p>
          <p  style="font-size:14px">
          after you finished you can give the book a review and it will be added to your list.</p>
      </div>
    </div> -->
    <!-- STEP 6 -->
    <!-- <div class="step-container" [class.active]="currentStep==6">
      <div class="dialog-header">
        <p>To <span class="bold">swap</span> books with other users just click this icon when you see it:
        </p>
        <i class="ico ico-swap-blue"></i>
        <p>
          and will start a swap chat with that person.
        </p>
      </div>
    </div> -->
    <div class="stepper">
      <em *ngFor="let s of [1,2,3,4]" [class.active]="s==currentStep" class="stepper-dot" (click)="gotoStep(s)"></em>
    </div>
    <ng-container>
        <div *ngIf="currentStep==1">
          <button full-width mat-raised-button (click)="gotoStep(currentStep+1)" color="primary">Continue</button>
        </div>
        <div  *ngIf="currentStep==2">
          <button full-width mat-raised-button (click)="saveAddress(); gotoStep(currentStep+1)" color="primary">Save & Proceed</button>
        </div>
        <div  *ngIf="currentStep==3">
          <button full-width mat-raised-button
                  [disabled]="selectedCommunity.joined"
                  (click)="saveCommunity()" color="primary">
            Join{{selectedCommunity.joined ? 'ed' : ' ' + selectedCommunity?.name||'Community'}}</button>
        </div>
        <div  *ngIf="currentStep==4">
          <button full-width mat-raised-button (click)="gotoLibrary()" color="primary">Add Books</button>
      </div>

      <div style="display: inline-flex; margin-top: 15px">
        <button  *ngIf="currentStep>1" full-width mat-raised-button
                 (click)="gotoStep(currentStep-1)">Back</button>
        <button   *ngIf="currentStep!=4 && currentStep != 1" full-width mat-raised-button
                  (click)=" gotoStep(currentStep+1)" color="primary">Next</button>
      </div>
      <button mat-flat-button (click)="hideWizard()" class="skip-button" mat-dialog-close>skip</button>
    </ng-container>
  </div>
</div>
