.dialog-header {
  text-align: center;
  h4 {
    margin: 0 0 16px;
  }
  p {
    font-size: 16px;
  }
  .material-icons {
    font-size: 40px;
    color: rgba(0, 123, 255, 0.5);
  }
}

.step-container {
  display: none;
}

.step-container.active {
  display: block;
}

.community-list {
  list-style: none;
  display: flex;
  padding: 5px;
  margin-bottom: 10px;
  max-height: 225px !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  direction: rtl !important;
  flex-direction: column;

  .community-list-item.active {
    background-color: rgb(235, 235, 235);
  }
  .community-list-item {
    width: 100%;
    border-radius: 3px;
    padding: 8px 0 8px 8px;

    img {
      flex-shrink: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .mat-list-text {
      display: flex;
      flex-direction: column;
      width: 100%;
      box-sizing: border-box;
      overflow: hidden;
      padding: 0 10px 0 16px;

      .mat-line {
        margin: 0;
        padding: 0;
        font-weight: 400;
        font-size: inherit;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        box-sizing: border-box;
        line-height: 20px;
      }
    }

  }
  .left-side {
    float: left;
    min-width: 70px;
    text-align: right;
    margin: 0;
  }
}

.stepper {
  text-align: center;
  width: 100%;
  padding: 6px 0 30px;
  .stepper-dot {
    display: inline-block;
    margin: 0 0.5em;
    width: 1em;
    height: 1em;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
  }
  .stepper-dot.active {
    background: rgba(0, 123, 255, 0.5);
  }
}

.info-text {
  padding: 10px 0px;
  h4 {
    margin: 0 0 16px;
  }
  p {
    font-size: 16px;
  }
}

mat-form-field {
  width: 100%;
}

[matsteppernext],
[doneButton] {
  float: right;
}

.libraryWrapper {
  max-height: 435px;
  overflow-x: hidden;
  overflow-y: auto;
}

table.summary {
  width: 100%;
  margin-bottom: 50px;
  td {
    vertical-align: top;
  }
}

mat-card {
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}

mat-card-title {
  margin-bottom: 8px;
}

mat-card-header {
  width: auto;
  display: inline-flex;
  vertical-align: middle;
}

.save-address {
  display: block;
  margin-bottom: 10px;
  margin-left: auto;
}

.skip-button {
  margin-top: 10px;
  float: right;
}
