:host ::ng-deep {
  mat-card {
    position: relative;
    margin: 5px;
    padding: 0;
  }

  mat-card {
    .image {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.2;
    }
  }
}

.card-subtitle {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

mat-icon.big-icon {
  font-size: 30px;
}
.nametag-photo {
  width: 180px;
  height: 180px;
  background-size: cover;
  background-position: center 20%;
  position: relative;
  overflow: hidden;
  display: block;
  background-color: #333;
}

.groupCard--photo {
  width: 100%;
  height: 180px;
  border-radius: 3px;
  text-decoration: none;
  background-color: #333;
  box-shadow: 0 0 1px rgba(0,0,0,.05);
  background-clip: content-box;
  background-size: cover;
  background-position: 50% 20%;
  border: 1px solid rgba(0,0,0,.12);
  -webkit-tap-highlight-color: transparent;
}

.groupCard--gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: transparent;
  background-image: -webkit-linear-gradient(linear-gradient(rgba(15, 20, 31, 0) 63%, rgba(15, 20, 31, 0.45) 25%, rgba(15, 20, 31, 0.8) 100%));
  background-image: linear-gradient(rgba(15, 20, 31, 0) 63%, rgba(15, 20, 31, 0.45) 25%, rgba(15, 20, 31, 0.8) 100%);
}

.nametag-photo-name {
  background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,rgba(22,24,27,0)),color-stop(64px,rgba(22,24,27,.7)),color-stop(100%,rgba(22,24,27,.9)));
  background: -webkit-linear-gradient(top,rgba(22,24,27,0),rgba(22,24,27,.7) 64px,rgba(22,24,27,.9));
  background: -moz-linear-gradient(top,rgba(22,24,27,0),rgba(22,24,27,.7) 64px,rgba(22,24,27,.9));
  background: -o-linear-gradient(top,rgba(22,24,27,0),rgba(22,24,27,.7) 64px,rgba(22,24,27,.9));
  background: -ms-linear-gradient(top,rgba(22,24,27,0),rgba(22,24,27,.7) 64px,rgba(22,24,27,.9));
  background: linear-gradient(top,rgba(22,24,27,0),rgba(22,24,27,.7) 64px,rgba(22,24,27,.9));
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  line-height: 24px;
  display: block;
  color: #fff;
  padding: 0 16px;
  orphans: 2;
  vertical-align: bottom;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.groupCard--content {
  display: flex;
  flex-direction: column;
  background: 0 0;
  .groupCard-groupName {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    direction: rtl;
  }

  p {
    margin: 0 0 12px auto;
    font-size: 12px;
    line-height: 14px;
  }
}
