<mat-card>
  <div class="groupCard--photo loading nametag-photo j-lazyimg-bg"
       [ngStyle]="{'background': 'url(' + community.logo + ') no-repeat center 25% / 100%'}"
       [routerLink]="['/app/u/community', community.id]">
    <div class="groupCard--gradient">
    </div>
    <div class="groupCard--content nametag-photo-name groupCard--title j-lazyimg">
      <h3 class="padding-none inline-block groupCard-groupName" itemprop="name">
        {{community.name}}
      </h3>
      <p class="small ellipsize">
        {{community.members_count ? community.members_count + ' Members' : ' '}}
      </p>
    </div>
  </div>
</mat-card>
