<div class="example-container mat-elevation-z8">

  <div class="example-header">
    <div>
      <button mat-button color="primary" (click)="addCategory()">+ Add new category</button>
    </div>
    <mat-form-field floatLabel="never">
      <input matInput #filter placeholder="Filter categories">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button (click)="editCategory(row.id)">Edit</button>
      </mat-cell>
    </ng-container>

    <!--<ng-container matColumnDef="delete">-->
      <!--<mat-header-cell *matHeaderCellDef>  </mat-header-cell>-->
      <!--<mat-cell *matCellDef="let row">-->
        <!--<button mat-button (click)="deleteCategory(row.id, row.name)">Delete</button>-->
      <!--</mat-cell>-->
    <!--</ng-container>-->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
