.add-community {
  border: 0;
  background-color: white;
  width: 100%;
  height: 50px;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: left;
  padding:0;
 span {
  border: 2px dashed #b5b8ca;
  background-color: white;
  color: #7c7e8d;
  padding: 8px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
  }
  label {
  display: inline-block;
  vertical-align: middle;
  color: #7c7e8d;
  font-weight: 700;
  }
}
eibo-my-communities {
  width:99%;
}
