<div class="mdl-card__title">
  <h1 class="mdl-card__title-text">My Communities</h1>
</div>
<div class="mdl-grid">
  <eibo-my-communities [communities]="userCommunities$ | async" (onEdit)="editCommunity($event)">
<!--     <div class="mdl-cell mdl-cell--12-col">
        <mat-card class="example-card">
            <button class="add-community" (click)="openDialog()">
              <span>
                <mat-icon>add</mat-icon>
              </span>
              <label>Add a community</label>
            </button>
        </mat-card>
      </div> -->
  </eibo-my-communities>
</div>
