<h2 matDialogTitle>Write your review</h2>
<mat-dialog-content [formGroup]="form">
  <label style="text-align: center; font-size: 19px">
    <eibo-star-rating [numberOfStars]="5" (onRated)="setRating($event)"
                      [rating]="form.get('rating').value"></eibo-star-rating>
    <mat-form-field class="textarea-container">
    <textarea matInput matTextareaAutosize style="min-height: 110px;"
              [placeholder]="'Review'" formControlName="review"></textarea>
    </mat-form-field>
    <!--<div *ngIf="form.get('review').invalid && reviewForm.get('review').touched"-->
         <!--class="validation-error">Review is required-->
    <!--</div>-->
  </label>
</mat-dialog-content>
<mat-dialog-actions align="start">
  <button mat-raised-button (click)="saveChanges()" color="primary">Save changes</button>
  <button mat-button matDialogClose color="primary">Cancel</button>
  <div *ngIf="isSubmit" style="display: inline-block">
    <mat-spinner [diameter]="25" [strokeWidth]="4"></mat-spinner>
  </div>
</mat-dialog-actions>
