<div style="display: grid; grid-template-columns: auto auto;">
  <div *ngFor="let community of communities | slice:0:showCount">
    <eibo-community-card [community]="community"></eibo-community-card>
  </div>
</div>
<button mat-flat-button *ngIf="showCount < communities?.length" (click)="increaseShowCount()">Load More</button>
