<mat-toolbar class="toolbar-black">
  <eibo-book-selector (bookSelected)="createReviewForExistingBook($event)"
                      (noResultOptionClicked)="createReviewAndAddNewBook($event)"
                      inputPlaceholder="Add Book to your library" style="flex: 1;">
    <div no-result-option>
      <a color="primary" class="add-book-button">
        Add a new book
        <mat-icon>add</mat-icon>
      </a>
    </div>
  </eibo-book-selector>
  <eibo-barcode-scanner (barcodeScanned)="fetchBook($event)">
    <button mat-mini-fab color="primary" aria-label="Scan barcode" class="float-barcode-button">
      <mat-icon svgIcon="barcode"></mat-icon>
    </button>
  </eibo-barcode-scanner>
</mat-toolbar>

