.add-book-button {
  margin: 0 5px 0 12px;

  .mat-button-wrapper {
    padding: 0;
  }
}

:host ::ng-deep .mat-form-field-label { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.toolbar-black {
  color: white;
  background-image: linear-gradient(to top, black, #3c3c3c);
  width: ~'calc(100% + 36px)';
  margin: -15px 0 0 -20px;
  height: inherit;
}

.float-barcode-button {
  right: 0;
  transform: scale(1.3);
}
