<div class="client-site-content" style="    overflow: hidden;">
<div class="client-site-content" style="    overflow: hidden;">
  <div class="mdl-grid client-max-width chat-container" (focus)="hideEmojiMartShow()">
    <!-- chat top bar -->
    <div class="mdl-cell--12-col mdl-card__title header">
      <div class="contact-side mdl-cell--hide-phone mdl-cell--hide-tablet"></div>
      <div class="chat-side" *ngIf="chatMetaData">
          <button class="mdl-cell--hide-desktop" mat-icon-button routerLink="/app/u/chats">

            <mat-icon>arrow_forward</mat-icon>
          </button>
        <div class="profile-pic">
          <img [src]="chatMetaData?.targetPhoto">
        </div>
        <a href="" [routerLink]="'/app/profile/'+chatMetaData?.targetPg">{{chatMetaData?.targetName}}</a>

        <button style="
        position: absolute;
        left: 8px;" (click)="toggleLibrary(chatMetaData?.targetPg)" class="btn-circle">
          <i class="material-icons">{{showUserBooks ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</i>
        </button>

        <!--         <button class="show-library-btn" matTooltip="{{chatMetaData?.targetName}}'s Library"><i class="ico ico-book" (click)="toggleLibrary(chatMetaData?.targetPg)"></i></button>
 -->
      </div>
      <div class="tooltip-tutorial chat-tutorial" *ngIf="showTutorial">
        <div class="close-button" (click)="hideTutorial()">
          <button>
            <i class="material-icons" style="font-size: 20px;">close</i>
          </button>
        </div>
        You can press the swap button to exchange books with friends.
      </div>
    </div>

    <div class="mdl-cell mdl-card page-content chat-container--pane" (focus)="hideEmojiMartShow()">
      <!-- users books -->
      <div class="user-book-container" [class.active]="showUserBooks">
        <div class="mdl-card__title" style="width: 100%;
    border-bottom: 1px solid #ccc;
    margin: 0 10px 10px;
    padding: 12px 8px 10px;">
          <h3 class="mdl-card__title-text" style="font-size:16px;font-weight: 400;color: #696969;">{{chatMetaData?.targetName}}'s Books</h3>
          <span class="sexy-seperator"></span>
        </div>
        <mat-spinner *ngIf="userBooks.data.length < 1"></mat-spinner>
        <!-- <button mat-fab class="slide-button" (click)="slideLeft()" style="left: 10px;"><mat-icon>keyboard_arrow_left</mat-icon></button> -->
        <div class="slider-wrapper">
          <ul [style.left.px]="sliderOffset*-120" [style.width.px]="userBooks.data.length*110" (swipeleft)="swipe($event.type)"
            (swiperight)="swipe($event.type)">
            <li *ngFor="let userBook of userBooks.data" class="user-book-item">
              <button mat-mini-fab class="chat-swap-button" (click)="swap(userBook,chatMetaData)">
                <mat-icon class="ico ico-swap"></mat-icon>
              </button>
              <div class="book-item">
                <div style="position: relative; height: 100%; background: black;" [routerLink]="['/app/book/',userBook?.bookid]">
                  <img *ngIf="userBook?.picture" [src]="userBook?.picture">
                  <img *ngIf="! userBook?.picture" class="no-cover-image">
                  <div class="book-info">
                    <p class="bookname">{{userBook?.name}}</p>
                    <p class="author">{{userBook?.author}}</p>
                  </div>
                </div>
              </div>
              <eibo-star-display [rating]="userBook?.rating" [numberOfStars]="'5'"></eibo-star-display>
            </li>
          </ul>
        </div>
        <!-- <button mat-fab class="slide-button" (click)="slideRight()" style="right: 10px;"><mat-icon>keyboard_arrow_right</mat-icon></button> -->
      </div>
      <!--chat pane-->
      <div class="chat-pane sexy-scrollbar" #chatPane style="background: url('/assets/img/chat-bg.jpg') repeat;">
        <div class="date-container" *ngFor="let date of messages$ | async">
          <div class="date-body">
            <div class="title">{{date?.date | date:'dd MMM'}}</div>
          </div>
          <div class="msg-container" *ngFor="let msg of date?.messages">
            <div class="msg-body" [ngClass]="{'my-msg':msg?.isMe,'their-msg':!msg?.isMe,'book-swap--object':msg.type=='book'}">
              {{msg?.content.message}}
              <p class="date">{{msg?.time | date:'H:mm'}}</p>
            </div>
            <div class="book-swap--data" *ngIf="msg.type=='book'" [ngClass]="{'my-msg':msg?.isMe,'their-msg':!msg?.isMe,'book-swap--object':msg.type=='book'}">
              <img [src]="msg.book?.image" class="book-image" [routerLink]="['/app/book/',msg.book?.id]">
              <div class="book-info">
                <h5>{{msg.book?.name}}</h5>
                <h6>{{msg.book?.author}}</h6>
                <eibo-star-display [rating]="msg.book?.rating/2" [numberOfStars]="5"></eibo-star-display>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--chat footer-->
    <footer class="mdl-card__actions mdl-card--border chat-actions">
      <form [formGroup]="newMessageForm" (ngSubmit)="onSubmitMessage()" novalidate>
        <div class="chat-input">
          <button class="send-btn mdl-button" type="submit">
            <i class="material-icons">send</i>
          </button>
          <input #input placeholder="Type your message here" (click)="showUserBooks=false" aria-label="" formControlName="message" [style.direction]="messageIsHebrew ? 'rtl' : 'ltr'">
          <button class="action-button" type="button">
            <i class="material-icons" (click)="toggleEmojiMart()">insert_emoticon</i>
          </button>
        </div>
      </form>
      <emoji-mart #emojis (emojiClick)="addEmojiToInput($event)" [hidden]="!emojiMartShow" (focusout)="hideEmojiMartShow()"
                  class="emoji-mart" [showPreview]="false"></emoji-mart>
    </footer>

    <!--web chat list-->
    <div class="mdl-cell mdl-card page-content mdl-cell--hide-phone mdl-cell--hide-tablet chat-container--list sexy-scrollbar">
      <ul class="chat-list">
        <li *ngFor="let chat of chats$ | async" [routerLink]="['/app/u/chat/',chat.id]" [routerLinkActive]="'active'" class="chat-list--contact">
          <img [src]="chat.thumbnail">
          <div class="mat-list-text">
            <h4 class="mat-line">{{chat.targetName}}</h4>
            <p class="mat-line"> {{chat.last_message}} </p>
          </div>
          <p class="left-side">
            <span class="date">{{chat.lastUpdate | timeAgo}} </span>
            <span class="badge" *ngIf="chat.messages_counter > 0">{{chat.messages_counter}}</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
