.profile-pic {
  overflow: hidden;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  img {
    width: 35px;
    height:35px;
  }
}
.mdl-card__title.header .chat-side > * {
  display:inline-block;
  vertical-align: middle;
}
.mdl-card__title.header {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #6799cb;
  padding: 0;
  color: white;
  z-index: 10;
  direction: rtl;
  width: 100%;
  position: relative;
  border-radius: 4px 4px 0px 0px;
  height: 60px;
  button {
    /*margin-right:8px;*/
  }
  .chat-side {
    padding:10px;
    flex: auto;
    min-width: 100px;
    direction: rtl;
    position:relative;
  }
  .contact-side {
    padding: 10px;
    width:400px;
    border-left:1px solid rgba(0, 0, 0, 0.2);
    height: 100%;
    box-sizing: border-box;
  }
}

.chat-pane {
  overflow-y: scroll;
  overflow-x: hidden;
  direction: rtl;
  height: 100%;
  position: relative;
  flex: 1;
  /*background: url('https://www.toptal.com/designers/subtlepatterns/patterns/doodles.png') repeat;*/
}
.show-library-btn {
  background: rgba(0,0,0,0.1);
  border: 0;
  border-radius: 4px;
  vertical-align: top;
  display: inline-block;
  margin-left:10px;
  position: absolute;
  left: 15px;
  cursor: pointer;
}
.chat-actions {
  background-color: rgb(219, 222, 225);
  padding: 10px;
  height: 60px;
  .chat-input {


    width: 100%;
    border-radius: 3px;
    background-color: white;
    .send-btn {
      color: #989898;
      background-color: #eee;
      border-radius: 50%;
      height: 35px;
      min-width: 35px;
      width: 35px;
      margin: 1px;
      padding: 0 10px;
      /* box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24); */
      .material-icons {
        font-size:20px;
      }
    }
    input {
      padding: 10px;
      font-size: 14px;
      border: 0;
      width: ~'-webkit-calc(100% - 85px)';
      box-sizing: border-box;
    }
    input:focus {
      border:0;
    }
    .action-button {
      background: transparent;
      border: 0;
      vertical-align: top;
      padding-top: 6px;
      .material-icons,.ico {
        color: #cccccc;
      }
    }
  }

}
.msg-container {
  clear: both;
  .msg-body {
    margin: 6px 14px;
    padding: 8px 10px 4px 10px;
    border-radius: 4px;
    font-size: 13px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    min-width: 100px;
    max-width: 300px;
    direction: rtl;
    text-align: right;
    .date {
      font-size:12px;
      margin:0
    }
  }
}

.date-container {
  .date-body{
    text-align: center;
    .title {
      margin: 20px auto;
      font-size: 12px;
      background-color: lightblue;
      clear: both;
      max-width: 100px;
      border-radius: 2px;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    }
  }
}

.their-msg {
  position: relative;
  float:left;
  background-color: #efefef;
}
.msg-body.their-msg:after {
  right: 100%;
  top: 2px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #efefef;
  border-width: 8px;
  margin-top: -10px;
  margin-right: -10px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.my-msg{
  position: relative;
  float:right;
  background-color: #cdf1b0;
}

.msg-body.my-msg:after {
  left: 100%;
  top: 2px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #cdf1b0;
  border-width: 8px;
  margin-top: -10px;
  margin-left: -10px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.book-swap--data {
  margin-top:15px;
  margin: 6px 14px;
  padding: 8px 10px;
  border-radius: 4px;
  font-size: 13px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  min-width: 100px;
  max-width: 300px;
  clear:both;
  .book-image {
    width:80px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 6px;
  }
  .book-info {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
  }
  h5,h6,p {
    margin: 0;
    line-height: 20px;
  }
}

.client-max-width {
  max-width: 1400px;
}
.user-book-container.active {
  top:0px;
}
.user-book-container {
  position: relative;
  background-color: #e9ecef;
  width: 100%;
  height: 250px;
  top: -250px;
  position: absolute;
  z-index: 1;
  transition: top 0.3s ease-out;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0,0,0,0.1);
  .slide-button {
    position: absolute;
    top: ~'calc(50% - 28px);';
    background-color: white;
    color: black;
    box-sizing: border-box;
    z-index: 1;
  }
  .slider-wrapper {
    //margin: 0 80px;
    overflow: hidden;
    width: auto;
    position: relative;
    height: 100%;
    ul {
      padding: 9px 0;
      margin: 0;
      position: absolute;
      transition: all 0.3s ease-out;
      overflow: hidden;
    }
  }
  .user-book-item {
    position: relative;
    list-style: none;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    .book-item {
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
      margin: 8px;
      width: 90px;
      height: 135px;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      img {
        width:100%;
        height:100%;
      }
      .book-info {
        position: absolute;
        bottom: 0;
        height: 15%;
        background-color: rgba(0, 0, 0, 0.5);
        margin: 0;
        height: 60px;
        width: 100%;
        padding: 10px;
        color: white;
        box-sizing: border-box;
        line-height: 15px;
        p {
          display: block;
          margin:0;
          margin-bottom:3px;
          padding:0;
          width:100%;
          text-align: center;
          font-size:12px;
          line-height: 12px;
        }
        p.bookname {
          font-weight: bold;
        }
      }
    }
  }
}

.chat-container {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px 75px;
  .chat-container--pane {
    flex: 1 1 0;
    margin: 0;
    z-index: 2;
    width: 100%;
    display: flex;
    box-shadow: 2px 0 7px rgba(0, 0, 0, 0.5);
  }
  .chat-container--list {
    width: 400px;
    margin: 0;
    z-index: 1;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 0px 0px 6px 0px;
    direction: rtl;
    overflow-y: scroll;
    .chat-list {
      padding:0;
      margin:0;
      height: 1px;
      .chat-list--contact.active {
        background-color: #f3f3f3;
      }
      .chat-list--contact {
        list-style: none;
        display: flex;
        border-bottom: 1px solid #ccc;
        padding: 15px 25px;
        img {
          flex-shrink: 0;
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
        .mat-list-text {
          display: flex;
          flex-direction: column;
          width: 100%;
          box-sizing: border-box;
          overflow: hidden;
          padding: 0 16px;
          .mat-line {
            margin: 0;
            padding: 0;
            font-weight: 400;
            font-size: inherit;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            box-sizing: border-box;
            line-height: 20px;
          }
        }
        .left-side {
          float:left;
          min-width:70px;
          text-align:left;
          margin: 0;
          span {
            display:block;
          }
          .date {
            font-size: 12px;
            direction: ltr;
          }
          .badge {
            padding: 2px;
            text-align: center;
            color: white;
            float: left;
            border-radius: 50%;
            background-color: #6799cb;
            min-width: 18px;
            height: 18px;
            line-height: 18px;
            font-size: 10px;
            margin-top:6px;
          }
        }
      }
    }
  }
}
.client-site-content {
  height: 100%;
}
.action-panel {
  position: absolute;
  padding: 8px 0;
  text-align: center;
  opacity: 1;
  width: 100%;
  top: -8px;
  transition: all 0.3s ease;
  z-index: 10;
}
.book-item:hover .action-panel {
  top:0;
  opacity: 1;
}
.btn-circle {
  color: #989898;
  background-color: #eee;
  border-radius: 50%;
  height: 35px;
  margin: 1px;
  padding: 6px;
  border: 0;
}
.btn-swap {
  color: #989898;
  background-color: #a2c1df;
  border-radius: 4px;
  height: 40px;
  width: 45px;
  margin-top: 10px;
  border: 0;
  line-height: 60px;
}
.client-site-content {
  margin-top: 0!important;
}
@media screen and (max-width: 768px) {
  .chat-container {
    padding:0
  }
  .mat-drawer-content {
    overflow:hidden!important;
  }

}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-swap-button {
  position: absolute;
  z-index: 1;
  top: -8px;
  right: -5px;
}

.emoji-mart {
  position: absolute;
  bottom: 60px;
  z-index: 2;
  right: 0;
}
