<div class="rating medium star-icon value-{{rating}} label-top" >
    <!-- <div class="label-value">{{rating}}</div> -->
     <div class="star-container">
         <div class="star" *ngFor="let star of stars" (click)="onClickStar(star)">
             <i class="star-empty"></i>
             <i class="star-half"></i>
             <i class="star-filled"></i>
         </div>
     </div>
 </div>
