:host ::ng-deep {
  .list-item {
    padding: 5px 0;
    height: 60px;

    .mat-list-item-content {
      flex-direction: row-reverse;

      img, div.logo-book{
        vertical-align:middle;
        margin-left: 10px;
      }
    }
  }

  .main-search {
    width: 90%;
    text-align: center;
    display: block;
    margin: 30px auto auto;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 10px;
  }

  .white-search-input {
    padding: 12px 6%;
    margin: 0;
    background-image: linear-gradient(to top, black, #3c3c3c);
    color: white;

    .mat-form-field-outline {
      color: white;
      div {
        border-width: 2px;
      }
    }

    .mat-form-field-infix {
      input  {
        caret-color: white;
        font-size: 16px;
        vertical-align: super;
      }
      input::placeholder {
        color: white;
      }
    }

    .mat-form-field-prefix {
      left: 5px;
      font-size: 16px;
      top: 0;
    }
  }
}
