<mat-form-field  appearance="outline" class="main-search white-search-input">
  <input aria-label="" matInput [matAutocomplete]="auto" [formControl]="searchControl"
         (keyup)="search($event.target.value)"
         type="search" [placeholder]="inputPlaceholder" autocomplete="off" autocorrect="off" autocapitalize="off">
  <div matPrefix>
    <mat-icon>search</mat-icon>
    <ng-content select=".btn-suffix"></ng-content>
  </div>
  <mat-autocomplete #auto="matAutocomplete" >
    <mat-option *ngFor="let _book of bookSearchResults" [value]="_book?.name"
                (onSelectionChange)="bookSelected.emit(_book); searchControl.setValue(null)">
      <img style="vertical-align:middle;" aria-hidden [src]="_book?.picture" height="25" />
      <span>{{ _book.name }}</span> |
      <small>{{_book.author}}</small>
    </mat-option>
    <mat-option *ngIf="(searchTerm$ | async).length > 2 &&
                       bookSearchResults?.length === 0"
                (click)="noResultOptionClicked.emit(searchTerm$.getValue())">
      <span #ref>
        <ng-content selector="[no-result-option]"></ng-content>
      </span>
      <span *ngIf="!ref.innerHTML.trim()">לא נמצא</span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
