<div class="client-site-content">
  <div *ngIf="(chats$ | async)?.length == 0" class="text-center">
    <h3 class="underline">No chats yet</h3>
    <h5>Find a book you like and start a chat to swap books</h5>
    <a [routerLink]="['/app/home']" class="underline-link">click here</a> to search books
  </div>

  <ul class="chat-list">
    <li *ngFor="let chat of chats$ | async" [routerLink]="['/app/u/chat/',chat.id]" class="chat-list--contact">
      <img [src]="chat.thumbnail">
      <div class="mat-list-text">
        <h4 class="mat-line">{{chat.targetName}}</h4>
        <p class="mat-line"> {{chat.last_message}} </p>
      </div>
      <p class="left-side">
        <span class="date">{{chat.lastUpdate | timeAgo}}</span>
        <span class="badge" *ngIf="chat.messages_counter > 0">{{chat.messages_counter}}</span>
      </p>
    </li>
  </ul>
</div>
