  .chat-list {
    padding:0;
    margin:0;
    .chat-list--contact.active {
      background-color: #f3f3f3;
    }
    .chat-list--contact {
      list-style: none;
      display: flex;
      border-bottom: 1px solid #ccc;
      padding: 15px 25px;
      img {
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      .mat-list-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        padding: 0 16px;
        .mat-line {
          margin: 0;
          padding: 0;
          font-weight: 400;
          font-size: inherit;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          box-sizing: border-box;
          line-height: 20px;
        }
      }
      .left-side {
        float:left;
        min-width:70px;
        text-align:right;
        margin: 0;
        span {
          display:block;
        }
        .date {
          font-size: 12px;
          direction: ltr;
        }
        .badge {
          padding: 2px;
          text-align: center;
          color: white;
          float: left;
          border-radius: 50%;
          background-color: #6799cb;
          min-width: 18px;
          height: 18px;
          line-height: 18px;
          font-size: 10px;
          margin-top:6px;
        }
      }
    }
  }
