<h4 class="add-new-book-title">Add New Book</h4>
<form [formGroup]="bookForm" novalidate>
  <div class="add-book-form collapse">

    <div class="add-book-fields">
      <mat-form-field style=" height: 40px;display: block">
        <input formControlName="name" placeholder="Book name" aria-label="" matInput
               [value]="bookName" [disabled]="bookForm.get('name').errors">
      </mat-form-field>
      <mat-form-field style=" height: 40px;display: block">
        <input formControlName="author" placeholder="Author" aria-label="" matInput [disabled]="bookForm.get('author').errors">
      </mat-form-field>
      <div >
        <mat-spinner *ngIf="isSubmit" [diameter]="35" [strokeWidth]="4"></mat-spinner>

      </div>
    </div>
  </div>

  <!--<div>-->
    <!--<button mat-raised-button type="submit" color="primary" [disabled]="isFormDisabled()"-->
            <!--(click)="onSubmitBook(bookForm.value,bookForm.valid)">Add book</button>-->
  <!--</div>-->
</form>
