.add-book-form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.add-book-fields {
  display: inline-block;
  width:100%;
  overflow:hidden;
  vertical-align: top;
}

form {
  height: unset !important;
}

.add-new-book-title {
  text-align: center;
  font-weight: 900;
}
