.homepage-top {
  .mdl-card__title {
    color: #fff;
    height: 290px;
    background: url(/assets/img/tpl/cover.jpg) center/cover;
  }
}

.build-you-profile {
  min-height: 50px;
}

.section__play-btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 150px;
  .material-icons {
    font-size: 3rem;
  }
}

.homepage-portfolio {
  .mdl-button {
    margin: 0 auto;
  }
}

.eibo-sec-color {
  color: #6799cb;
}

.mdl-card__title-text {
  color: #6799cb;
}
.btn-fb {
  background-color: #3B5998;
  color:white;
  width:100%;
}
.btn-fb[disabled]{
  background-color: #cccccc;
  color:grey;
}
.landing-info {
  background-color: #ebe7e8;
  min-height: 40vh;
  padding: 2%;
  background: linear-gradient(#ffffff00, white);
}

.mdl-card__supporting-text {
  color: #000000;
}

.mdl-layout__content {
  background: ~"linear-gradient(rgba(255, 255, 255, 0.2), #ffffff, #ffffff)";
  z-index: auto;
}

.mdl-layout__content::after {
  content: "";
  opacity: 0.67;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background: url(/assets/img/chat-bg.jpg) repeat;
  z-index: -1;
  max-height: 40vh;
}

.slide {
  padding: 8px;
  margin: 0 5px;
}
