<div class="client-site-content">
  <div class="mdl-layout">
    <div class="mdl-layout__content">
      <div *ngIf="userExists()">
        <eibo-main-search></eibo-main-search>

        <!--<eibo-client-slider></eibo-client-slider>-->
        <h4 class="text-subtitle">Recommended for you</h4>
        <eibo-books-slider [hideButtons]="true" *ngIf="suggestedBooks"
                           [books]="suggestedBooks"
                           (lastSlideReached)="loadMoreBooks($event)"
                           (onSlideClick)="navigateToBook($event)"></eibo-books-slider>
        <div *ngIf="!suggestedBooks" style="padding: 20px; text-align: -webkit-center;">
          <mat-spinner color="warm"></mat-spinner>
        </div>

        <eibo-friends-slider></eibo-friends-slider>
        <eibo-groups-suggestions></eibo-groups-suggestions>
        <p></p>
      </div>

      <section class="landing-info" *ngIf="userDoesNotExist()">
        <div class="mdl-grid client-max-width">
          <div class="mdl-card mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--6-col-phone" style="background: transparent;">

            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">Welcome to EiBO, the first social library!
              </h2>
            </div>
            <div class="mdl-card__supporting-text" style="width: 95%;">
              <p style="direction: rtl;text-align:right;font-size:16px">

                EIBO היא ספריה חברתית ראשונה מסוגה המאפשרת החלפה והשאלה של ספרים בין אנשים ובתוך קהילות קוראים . איבו תאפשר לכם למצוא כל ספר במרחק הליכה ובחינם.
              </p>
              <!-- <p>

                   Welcome to EiBO - the first social library. Please join one of our "readers communities" and become a part of our social
                  library
              </p> -->
            </div>
            <div class="mdl-card__actions  mdl-card--border">
              <a [routerLink]="['/app/about']"
                 class="mdl-button mdl-js-button mdl-js-ripple-effect eibo-sec-color"
                 data-upgraded=",MaterialButton,MaterialRipple">
                {{translate('homepage.intro2ReadMore')}}
                <span
                  class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
            </div>
            <a mat-button class="actions matl-cell--hide-phone btn-fb" (click)="fbLogin()">
              {{translate('navbar.facebookLogin')}}
            </a>
          </div>
          <div class="section__play-btn mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--6-col-phone mdl-color-text--white " style="position:relative">

            <div style="
                width: 100%;
                height: 100%;
                cursor:pointer;
                position: absolute;
                background: transparent;
                z-index: 2;" (click)="!isVideoPlaying ? videoPlay() : videoPause()"></div>
            <i class="material-icons" style="position:absolute;font-size: 72px;" [style.display]="isVideoPlaying ? 'none' : 'block'">play_circle_filled</i>
            <cl-video [public-id]="video_id" controls="false" preload="none" secure="true" style="width: 100%;">
              <cl-transformation video_codec="h264" width="640" crop="scale">
              </cl-transformation>
            </cl-video>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>

