<a mat-list-item class="list-item" [routerLink]="['/app/book',book.id]">
  <h4 style="white-space: initial;" mat-line>{{ book.name }}</h4>
  <p mat-line>{{book.author}}</p>
  <img *ngIf="book.picture" [src]="book.picture" (error)="book.picture = null" height="100%"/>
  <div *ngIf="!book.picture" class="logo-book">
    <div
      [ngStyle]="{'background': 'url(' + EIBO_LOGO + ') center / 90% no-repeat'}">
    </div>
  </div>
  <div class="book-holders-details" *ngIf="book?.holders > 0">
                <span>
                  <span matBadge="{{book?.holders}}" matBadgePosition="before">
                    <mat-icon svgIcon="books-stack"></mat-icon>
                  </span>
                </span>
  </div>
</a>
