.book-holders-details {
  order: -1;
}

:host ::ng-deep {
  .list-item {
    padding: 5px 0;
    height: 60px;

    .mat-list-item-content {
      flex-direction: row-reverse;

      img, div.logo-book{
        vertical-align:middle;
        margin-left: 10px;
      }
    }
  }

  .logo-book {
    background: black;
    width: 50px;
    height: 100%;

    div {
      height: 100%;
    }
  }
}
