<div class="client-site-content">
  <div class="mdl-grid client-max-width">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp page-content">
      <div class="mdl-card__title"><h1 class="mdl-card__title-text">{{translate('about.pageHeadline')}}</h1></div>
      <div class="mdl-card__media mdl-color-text--white section__play-btn">
          <div style="
          width: 100%;
          height: 100%;
          cursor:pointer;
          position: absolute;
          background: transparent;
          z-index: 2;" (click)="!isVideoPlaying ? videoPlay() : videoPause()"></div>
          <i class="material-icons" style="position:absolute" [style.display]="isVideoPlaying ? 'none' : 'block'">play_circle_filled</i>
          <cl-video [public-id]="video_id" controls="false" preload="none" secure="true" style="width: 100%;">
              <cl-transformation video_codec="h264" width="640" crop="scale">
                </cl-transformation>
          </cl-video>
      </div>
      <div class="mdl-grid site-copy">
        <div class="mdl-cell mdl-cell--12-col">
          <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
            EIBO is a novel, first-of-its-kind type of social library. It allows people to borrow and exchange
            books among themselves and within various reader communities. EIBO helps you find any book
            you’re looking for within walking distance – and it’s free!<br><br>
            The ties we develop with our close environment, with the people around us, and with the
            communities to which we belong, enable us to change our consumption choices. These changes
            make our lives simpler, more comfortable, eco-friendly, and also cost-effective. EIBO is a novel
            platform that lets us find any book we desire in a simpler, easier, and more economical way. By
            relying on other users who are already in our spheres of interaction (either residential, work-
            related, or social), it allows us to conduct an efficient search
          </div>

          <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">{{translate('about.team')}}</h3>
          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col text-center">
                    <div class="demo-card-image mdl-card mdl-shadow--2dp aboutMichael">
                      <div class="mdl-card__title mdl-card--expand"></div>
                    </div>
                    <div class="mdl-card__actions">
                        <span class="demo-card-image__filename">Michael Botstein @CZO</span>
                      </div>
                  </div>
              <div class="mdl-cell mdl-cell--4-col text-center">
                <div class="demo-card-image mdl-card mdl-shadow--2dp aboutEliran">
                  <div class="mdl-card__title mdl-card--expand"></div>
                </div>
                <div class="mdl-card__actions">
                    <span class="demo-card-image__filename">Eliran Navon @CEO</span>
                  </div>
              </div>

              <div class="mdl-cell mdl-cell--4-col text-center">
                <div class="demo-card-image mdl-card mdl-shadow--2dp aboutAviad">
                  <div class="mdl-card__title mdl-card--expand"></div>
                </div>
                <div class="mdl-card__actions">
                    <span class="demo-card-image__filename">Aviad Blumenfeld @R&D</span>
                  </div>
              </div>

              <div class="mdl-cell mdl-cell--4-col text-center">
                <div class="demo-card-image mdl-card mdl-shadow--2dp aboutNave">
                  <div class="mdl-card__title mdl-card--expand"></div>
                </div>
                <div class="mdl-card__actions">
                    <span class="demo-card-image__filename">Nave Eni @Developer</span>
                  </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
