.site-copy {
  max-width: 700px;
}

.demo-card-image {
  &.mdl-card {
    width: 192px;
    height: 192px;
    border-radius: 50%;
  }

  .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0,0,0,0.3);
  }

  .demo-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }
}

.aboutEliran {
  background: url("/assets/img/eliran-256-256.jpg") center/cover;
  margin: auto;
}

.aboutMichael {
  background: url("/assets/img/michael-256-256.jpg") center/cover;
  margin: auto;
}

.aboutAviad {
  background: url("/assets/img/aviad-256-256.jpg") center/cover;
  margin: auto;
}

.aboutNave {
  background: url("/assets/img/nave-eni.jpg") center/cover;
  margin: auto;
}


.section__play-btn {
  padding:55px;
  background-color: rgb(255, 255, 255);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 150px;

  .material-icons {
    font-size: 3rem;
  }
}
