<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field floatLabel="never">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Groups">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="groupsDataSource" [trackBy]="trackByFunc">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="logo">
      <mat-header-cell *matHeaderCellDef> Logo </mat-header-cell>
      <mat-cell *matCellDef="let row"> <img [src]="row.logo" class="cover-photo"> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="owner_id">
      <mat-header-cell *matHeaderCellDef> Owner_id </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.owner_id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
      <mat-cell *matCellDef="let row">  {{row.address}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="approve">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button (click)="saveGroup(row)">Approve</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button (click)="deleteGroup(row)">Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
