<div>
  <h3 *ngIf="withSearchTitle" class="search-title">Search</h3>
  <mat-form-field appearance="outline" class="main-search white-search-input "
                  [class.search-without-title]="!withSearchTitle">
    <input matInput #input
           (keyup)="search($event.target.value)"
           type="search" [placeholder]="placeholder"
           autocomplete="off">
    <div matPrefix>
      <mat-icon>search</mat-icon>
    </div>
    <button mat-icon-button *ngIf="this.SearchTerm.getValue() != ''" (click)="clearText()" matSuffix>
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</div>

<mat-nav-list dir="rtl" *ngIf="!noResultsAfterSearch">
  <div *ngIf="firstSearchResults?.length > 0">
    <h3 mat-subheader>{{firstSearcherTitle}}</h3>
    <ng-template *ngFor="let result of firstSearchResults"
                 [ngTemplateOutlet]="firstSearchTemplate" [ngTemplateOutletContext]="{result: result}"></ng-template>
  </div>

  <div *ngIf="secondSearchResults?.length > 0">
    <mat-divider></mat-divider>
    <h3 mat-subheader>{{secondSearcherTitle}}</h3>
      <ng-template *ngFor="let result of secondSearchResults"
        [ngTemplateOutlet]="secondSearchTemplate" [ngTemplateOutletContext]="{result: result}"></ng-template>
  </div>
</mat-nav-list>

<div *ngIf="noResultsAfterSearch">
  <h4 class="no-results-text">{{noResultsText}}</h4>
</div>
