.client-max-width {
  max-width: 1200px;
}

:host ::ng-deep {
  .main-search {
    width: 80%;
    text-align: center;
    display: block;
    margin: 30px auto auto;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 10px;
  }

  .white-search-input {
    padding: 5px 10% 18px;
    margin: 0;
    background: black;
    color: white;

    .mat-form-field-outline {
      color: white;
      div {
        border-width: 2px;
      }
    }

    .mat-form-field-infix {
      input  {
        caret-color: white;
        font-size: 20px;
      }
      input::placeholder {
        color: white;
      }
    }

    .mat-form-field-prefix {
      left: 5px;
    }
  }
}

.no-results-text {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  background: #00000012;
}

@gradient-fit-navbar: linear-gradient(to top, black, #3c3c3c);
.search-title {
  margin: auto;

  background-image: @gradient-fit-navbar;
  color: white;
  text-align: center;
  padding: 20px 0 0;
}

.search-without-title {
  background-image: @gradient-fit-navbar;
  padding: 18px 10%;
}
