img.article-image {
  width: 100%;
}
.collapse {
  overflow: hidden;max-height:500px;transition: max-height 0.25s ease-in;
}
.collapsed {
    max-height: 0;
    transition: max-height 0.15s ease-out;
}
button.empty-book {
  width:120px;
  height: 180px;
  border: 2px dashed #A7A7A7;
  margin:10px;
  color:#808080;
  mat-icon {
    font-size: 32px;
  }
}
.search-menu:focus-within {
  border: 1px solid #acc4dd;
}
.search-menu {
  background-color: #ffffff;
  padding: 0;
  min-height: 30px;
  border-radius: 4px;
  width: 100%;
  margin-top: 14px;
  margin-bottom: 14px;
  overflow: hidden;
  border: 1px solid transparent;

  .search-block {
    width: 100%;
    height: 40px;
    padding: 0 50px 0 10px;
    position: relative;
    mat-icon {
      position: absolute;
      right: 0;
      padding: 8px 10px;
      /* border-radius: 4px 0 0 4px; */
      background-color: #acc4dd;
      color: white;
    }
    .search-input {
      min-height: 38px;
      color: #434343;
      font-size: 14px;
      margin-left: 16px;
      padding: 0px 0px 3px;
      width: 100%;
      margin: 0;
      background-color: transparent;
      border: 0;
      outline: none;
    }
  }
}

.library-title {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 15px 0 2px;
  text-align: center;
  display: block;
  font-size:18px;
  font-weight: 900;
  color: #696969;
}
