<eibo-add-library-book></eibo-add-library-book>

<div class="mdl-card__title library-title"
     *ngIf="(userReadingBooks$ | async)?.length > 0"> Reading books</div>
<eibo-books-slider [withWriteReview]="true"
  [books]="(userReadingBooks$ | async)"
  (onSlideClick)="editUserBook($event)"></eibo-books-slider>


<div class="mdl-card__title library-title"
     *ngIf="(userNonfictionBooks$ | async)?.length > 0"> Nonfiction books</div>
<eibo-books-slider [withWriteReview]="true"
  [books]="(userNonfictionBooks$ | async)"
  (onSlideClick)="editUserBook($event)"></eibo-books-slider>


<div class="mdl-card__title library-title"
     *ngIf="(userChildrenBooks$ | async)?.length > 0"> Children books</div>
<eibo-books-slider [withWriteReview]="true"
  [books]="(userChildrenBooks$ | async)"
  (onSlideClick)="editUserBook($event)"></eibo-books-slider>


<div class="mdl-card__title library-title"
     *ngIf="(userLearningBooks$ | async)?.length > 0"> Learning books</div>
<eibo-books-slider [withWriteReview]="true"
  [books]="(userLearningBooks$ | async)"
  (onSlideClick)="editUserBook($event)"></eibo-books-slider>

<eibo-loader *ngIf="!(userBooks$ | async)" color="warm"></eibo-loader>

<h1 style="text-align: center;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 4px;" *ngIf="(userBooks$ | async) && (userBooks$ | async).length<1">No books yet ..</h1>
