<div class="banner-container">
  <div style="display: flex; flex-direction: column;">
    <div class="banner">
      <div class="banner-hero">
        <div class="banner-image keepAspect"
             [style.background-image]="'url('+ bannerImage +')'"></div>
      </div>
      <div class="group-avatar">
        <span class="avatar avatar--large" role="img" aria-label="Avatar"
              [style.background-image]="'url('+bannerImage +')'">
        </span>
      </div>
    </div>
  </div>
</div>
