.banner-container {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  -webkit-box-sizing: border-box;
  align-items: flex;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;

  .banner {
    display: grid;
    grid-template-rows: 1fr 56px 16px;
    grid-template-columns: 30px 1fr;
  }

  .banner-hero {
    grid-column-start: 1;
    grid-column-end:  -1;
    grid-row: 1/span 2;
  }

  .banner-image {
    background-position: center 40%;
    background-size: cover;
  }

  .keepAspect:before {
    content: "";
    display: block;
    padding-top: 56.25%!important;
  }
}

.group-avatar {
  grid-column: 2;
  grid-row: 2;
  margin-left: 0;
  margin-top: 0;

  .avatar {
    border: 1px solid #fff;
    border-radius: 8px;
    height: 72px;
    width: 72px;

    background: no-repeat 50%;
    background-size: cover;
    position: relative;
    display: inline-block;
  }

}
