<h2 matDialogTitle>{{caption || 'Info'}}</h2>
<mat-dialog-content>
  <label style="text-align: center; font-size: 19px">{{InfoDescription}}</label>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button matDialogClose="confirm" (click)="confirm()" color="primary">OK</button>
</mat-dialog-actions>
