@charset "UTF-8";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@eibo-pri: #6799cb;
@eibo-sec: #8fc663;
@eibo-gray: #3c3c3c;
@eibo-logo: "/assets/img/eibo_logo.png";

.mdl-cell--6-col {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  display: inline-block;
  vertical-align: top;
}

.eibo-gray-background {
  background-color: @eibo-gray;
  color: #fff;

  &:hover {
    background-color: @eibo-gray;
  }
}

.eibo-pri-background {
  background-color: @eibo-pri;
  color: #fff;

  &:hover {
    background-color: @eibo-sec;
  }
}

.eibo-sec-background {
  background-color: @eibo-sec;
  color: #fff;
  &:hover {
    background-color: @eibo-pri;
  }
}

.eibo-pri-color {
  color: @eibo-pri;
}

.eibo-sec-color {
  color: @eibo-sec;
}

.lang-he {
  * {
    direction: rtl;
  }
}

.mdl-layout__container {
  &.sidenav-open {
    overflow: hidden;
  }
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.client-max-width {
  margin: auto;
  max-width: 900px;
}

.client-site-content {
  /*height: calc(~'100% - 116px');
  margin-bottom: 50px;*/
  margin-top: 65px;
}

[menuIcon] {
  cursor: pointer;
  user-select: none;
}

.footer-social-icon {
  margin: 0px 5px;
  img {
    height: 40px;
    width: 40px;
  }
}

.validation-error {
  color:red;
}

html, body, eibo-root, eibo-client-main, mat-sidenav-container {
  height: 100%;
}

eibo-root, eibo-client-main {
  display: block;
}

//.mat-toolbar {
//  background-color: @bg-gray;
//}
//
//footer, .mdl-mini-footer {
//  background-color: @bg-gray;
//}

.client-profile-wizard {
  mat-dialog-container {
    padding: 0px;
  }
}

.sexy-scrollbar::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.sexy-scrollbar::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.sexy-scrollbar::-webkit-scrollbar-thumb
{
  border-radius: 8px;
  box-shadow: inset 0 0 3px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.2);
	background-color: rgb(151, 151, 151);
}
.sexy-seperator {
  display:block;
  border:none;
  color:white;
  height:1px;
  background:black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(rgba(0, 0, 0, 0.2)), to(rgba(255, 255, 255, 0)));
}
.btn-h-seperator {
  width: 1px;
  height: 60%;
  border-right: 1px solid #d9d9d9;
  margin: 0 15px 0 5px;
}

.bold {
  font-weight: bold;
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
.slider-gallery .mat-grid-tile .mat-figure {
  align-items: normal!important;
}
.inline-align > * {
  display:inline-block;
  vertical-align: middle;
  position: relative;
}
.matl-layout__container {
  height:100%;
}

.ico {
  font-style: normal;
  background-repeat: no-repeat;
  display: inline-block;

  height: 32px;
  width: 32px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  fill: currentColor;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: auto;
  background-size:cover;
}
.ico-chat {
  background-image: url('../src/assets/img/icons/chat.png');
}
.ico-add {
  background-image: url('../src/assets/img/icons/add.png');
}
.ico-add-grey {
  background-image: url('../src/assets/img/icons/add_grey.png');
}
.ico-people {
  background-image: url('../src/assets/img/icons/community.png');
}
.ico-people-green {
  background-image: url('../src/assets/img/icons/community_green.png');
}
.ico-book {
  background-image: url('../src/assets/img/icons/library.png');
}
.ico-book-colored {
  background-image: url('../src/assets/img/icons/library_color.png');
}
.ico-swap {
  background-image: url('../src/assets/img/icons/swap.png');
}
.ico-swap-blue {
  background-image: url('../src/assets/img/icons/swap_filled.png');
}
.ico-library-blue {
  background-image: url('../src/assets/img/icons/library_blue.png');
}
.ico-library-white {
  background-image: url('../src/assets/img/icons/library-white.png');
}
.ico-chat-white {
  background-image: url('../src/assets/img/icons/chat-white.png');
}
.ico-search-white {
  background-image: url('../src/assets/img/icons/search-white.png');
}

.pointer-cursor {
  cursor: pointer;
}

.mat-list .mat-list-item .mat-list-avatar, .mat-nav-list .mat-list-item .mat-list-avatar, .mat-selection-list .mat-list-item .mat-list-avatar {
  width: 56px!important;
  height: 56px!important;
}

.cdk-overlay-pane.no-padding mat-dialog-container{
  padding:0;
}

/* The element to hover over */
.qs {

  position: relative;
  .tutorial-library {
    top: 65px;
    max-width: 320px;
    left: ~'-webkit-calc(50% - 170px)';

    height: 80px;
    &:before {border-bottom: 7px solid rgba(212, 212, 212, 0.85);border-top:none;top: -7px;}
  }
  .tutorial-swap {
    top: -155px;
    max-width: 200px;
    left: ~'-webkit-calc(50% - 70px)';
    height: 168px;
    &:before {border-top: 7px solid rgba(212, 212, 212, 0.85);border-bottom:none;bottom: -7px;}
  }
  .popover {
    background-color: rgba(243, 243, 243, 0.9);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    color: #7d7d7d;
    text-align:center;
    font-size: 12px;
    font-family: 'Helvetica', sans-serif;
    position: absolute;
    padding: 4px 10px;
    z-index: 50;
    line-height: 22px;
    &:before {
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
      content: '';
      display: block;
      left: 50%;
      margin-left: -7px;
      position: absolute;
    }
  }

}
button[full-width] {
  width: 100%;
}
.tooltip-tutorial.swap-tutorial {
  max-width: 275px;
  right: 10px;
  top: 310px;
  &:after {
    margin-left: 100px;
  }
}
.tooltip-tutorial.chat-tutorial {
  max-width: 275px;
  right: 10px;
  top: 80px;
  &:after {
    margin-left: 110px;
    top: auto;
    bottom: 100%;
    border-bottom-color: rgba(0, 0, 0, 0.7);
    border-top:none;
  }
}
.tooltip-tutorial {
  position: absolute;
  z-index: 100;
  background: rgba(0,0,0,0.7);
  color: white;
  padding: 10px;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
  .close-button {
    height: 24px;
    width: 100%;
    text-align: right;
    button {
      border: none;
      background: transparent;
      color: white;
      padding: 0;
    }
  }
  &:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: rgba(0, 0, 0, 0.7);
    border-width: 9px;
    margin-left: 69px;
  }
}
@keyframes fadein {
  from { opacity: 0; margin-top:30px }
  to   { opacity: 1; margin-top:0;}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; margin-top:30px }
  to   { opacity: 1; margin-top:0;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; margin-top:30px }
  to   { opacity: 1; margin-top:0;}
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; margin-top:30px }
  to   { opacity: 1; margin-top:0;}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; margin-top:30px }
  to   { opacity: 1; margin-top:0;}
}
@media screen and (max-width:600px) {
  .client-site-content {
    margin-top: 55px;
  }
}

.text-subtitle {
  font-size: 20px;
  line-height: 20px;
  margin: 24px 5px 3px 14px;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.underline {
  text-decoration: underline;
}

.underline-link {
  color: blue;
  text-decoration: underline;
}

.block {
  display: block;
}

.multiline-text {
  white-space: normal !important;
}

.read-less {
  white-space: normal;
}
.read-more {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  direction: rtl;
}

.no-cover {
  display: block;
  width: 100%;
  height: 100%;

  background: black;
  border-radius: 3%;
  margin: auto;
}

.no-cover-image {
  background: url(@eibo-logo) center center / 90% no-repeat;
  width: 100%;
  height: 60% !important;
}

.ico-medium {
  width: 50px;
  height: 50px;

}
