<a href="whatsapp://send?text=" #whatsappShare
   data-action="share/whatsapp/share" class="share-button-small">
    <button mat-fab class="share-icon-image-small whatsapp-color">
      <mat-icon svgIcon="whatsapp-logo" class="share-icon-small"></mat-icon>
    </button>
</a>

<button mat-fab class="share-button-small share-icon-image-small facebook-color"
        style="right: calc(40px + 3.5%);"
        (click)="shareFacebook()">
  <mat-icon svgIcon="facebook-logo" class="share-icon-small"></mat-icon>
</button>

<swiper class="carousel hide-buttons" style="margin-bottom: 20px; margin-top: 25px;" [config]="config">
  <div class="swiper-wrapper">
    <div class="swiper-slide slide" *ngFor="let user of users">
      <eibo-user-bubble [user]="user" >
      </eibo-user-bubble>
    </div>

    <div class="share-icon-view swiper-slide">
      <a href="whatsapp://send?text=" #whatsappShare
         data-action="share/whatsapp/share">
        <button mat-fab class="share-icon-image whatsapp-color">
          <mat-icon svgIcon="whatsapp-logo" class="share-icon"></mat-icon>
        </button>
      </a>
    </div>
    <div class="share-icon-view swiper-slide">
      <button mat-fab class="share-icon-image facebook-color" (click)="shareFacebook()">
        <mat-icon svgIcon="facebook-logo" class="share-icon"></mat-icon>
      </button>
    </div>
  </div>
</swiper>
