

.slider-image {
  margin: auto;
  height: 220px;
}


.no-results-text {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  background: #00000012;
}

.share-icon-image {
  border-radius: 50%;
  overflow: hidden;
  width: 85px;
  height: 85px;
  margin: auto;
}

.share-icon-image-small {
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin: auto;
}

.share-icon-view {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.share-icon {
  transform: scale(1.7);
}

.share-icon-small {
  transform: scale(1);
}

.whatsapp-color {
  background-color: rgb(37, 211, 102);
}

.facebook-color {
  background-color: rgb(66, 103, 178);
}

.share-button-small {
  position: absolute;
  right: 2%;
  margin-top: -52px;
}

:host ::ng-deep .share-button-small {
    .mat-button-wrapper {
      padding: 0;
      line-height: 0;
    }
}
