
.mat-list .mat-list-item .mat-list-avatar,
.mat-nav-list .mat-list-item .mat-list-avatar,
.mat-selection-list .mat-list-item .mat-list-avatar {
  width: 46px;
  height: 46px;
}
.mat-list,
.mat-nav-list,
.mat-selection-list {
  padding-top: 0;
}


.mat-list-item:after {
  content: " ";
  width: auto;
  display: block;
  border: none;
  color: white;
  height: 1px;
  background: black;
  margin: 2px 0;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(rgba(0, 0, 0, 0.2)), to(rgba(255, 255, 255, 0)));
}

.mat-list-item:last-child:after {
  background: none;
}

.client-max-width {
  max-width: 1200px;
}

.book-slider {
  position: relative;
  max-width: 1000px;
  padding: 0;
  /*   .button-panel {
    position: absolute;
    top: calc(50% - 20px);
    width: 100%;
    z-index: 20;
    padding: 10px;
    box-sizing: border-box;
    button {
      background-color: white;
      color: black;
    }
  } */
  .slide-button {
    position: absolute;
    top: ~'calc(50% - 30px);';
    z-index: 20;
    background-color: white;
    color: black;
    box-sizing: border-box;
  }
  .slider-container {
    overflow: hidden;
    position: relative;
    .slider-gallery {
      position: relative;
      -webkit-transition: left 0.5s ease-out;
      -moz-transition: left 0.5s ease-out;
      -o-transition: left 0.5s ease-out;
      transition: left 0.5s ease-out;
      z-index: 19;
      .book-info img {
        position: relative;
        -webkit-transition: height 0.5s ease-out;
        -moz-transition: height 0.5s ease-out;
        -o-transition: height 0.5s ease-out;
        transition: height 0.5s ease-out;
        cursor: pointer;
        z-index: 21;
      }
      .book-info {
        text-align: center;
        color: grey;
        max-width: 220px;
      }
      .book-users .strong,
      .book-info .strong {
        font-weight: 700;
      }
      .book-info .strong {
        margin-bottom: 3px;
      }
      .book-info h5 {
        font-weight: 300;
        margin-bottom: 9px;
        margin-top: 0px;
        font-size: 14px;
      }
      .book-info p {
        font-size: 12px;
        line-height: 12px;
      }
      .book-info img {
        margin-bottom: 20px;
        height: 210px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
        opacity: 0.4;
      }
      .book-info.selected img {
        opacity: 1;
        height: 190px;
      }
      .book-info.selected {
        color: inherit;
      }
      .book-info .condition {
        margin-bottom: 5px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .hidden-small {
    display: none;
  }
  .book-slider .slider-gallery {
    width: 900% !important;
  }
}
