<eibo-loader class="mdl-grid client-max-width book-slider" *ngIf="!items">
</eibo-loader>

<section *ngIf="items" class="mdl-grid book-slider">
<!--   <div class="mdl-card__title" style="width: 100%;
    border-bottom: 1px solid #ccc;
    margin: 0 10px 10px;
    padding: 12px 8px 10px;">
    <h3 class="mdl-card__title-text" style="font-size:16px;font-weight: 400;color: #696969;">Suggestions</h3>
    <span class="sexy-seperator"></span>
  </div> -->
  <div class="mdl-cell mdl-cell--12-col">

    <div class="slider-container">
      <button mat-fab class="slide-button" style="left:10px" (click)="slideLeft()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button mat-fab class="slide-button" style="right:10px" (click)="slideRight()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
      <div class="slider-gallery" style="width:300%;" [style.left]="SliderOffset+'%'">
        <mat-grid-list cols="9" rowHeight="290px">
          <mat-grid-tile *ngFor="let item of items; let i = index" (swipeleft)="swipe(i, $event.type)" (swiperight)="swipe(i, $event.type)">
            <div class="book-info" [class.selected]="selectedIndex==i">
              <img [src]="item?.thumbnail" [routerLink]="['/app/book/',item?.bookId]">
              <h5 class="strong">{{item?.bookName}}</h5>
              <h5>{{item?.bookAuthor}}</h5>
              <p class="condition">
              </p>
              <p class="inline-align">
                <eibo-star-display [rating]="item?.reviewScore/item?.reviewCount" [numberOfStars]="'5'"></eibo-star-display>
                <span>({{item?.reviewCount}})</span>
              </p>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>

    <div class="book-users qs"><!--
      <div class="popover tutorial-swap" *ngIf="userSvc.tutorial.home">
        If you want to borrow or exchange
        <br> books with other users,
        <br> just send them a quick "swap request".
        <br>
        <i class="ico ico-swap-blue"></i>
        <br>
        <button mat-button color="primary" (click)="userSvc.tutorial.home = false;">
          Got it!
        </button>
      </div> -->
      <div class="mdl-card__title" style="padding: 9px;">
        <h3 class="mdl-card__title-text" style="font-size:14px;font-weight: 400;color: #696969;">People with this book</h3>
      </div>
      <mat-list>
        <span class="sexy-seperator"></span>
        <mat-list-item *ngFor="let user of selectedInfo?.users">
          <span class="sexy-seperator"></span>
          <img matListAvatar [src]="user?.thumbnail" alt="..." [routerLink]="['/app/profile',user?.id]">
          <h4 class="pointer-cursor strong" mat-line [routerLink]="['/app/profile',user?.id]">{{user?.name}}</h4>
          <p mat-line>
            {{user?.communityName}}
            {{user?.distance ? ( user?.distance + ' Km\'s') : ''}}
          </p>
          <button matTooltip="Swap Request" mat-icon-button color="primary" style="float:right;" (click)="swap(selectedInfo,user)">
            <i class="ico ico-swap-blue"></i>
          </button>
          <span class="sexy-seperator"></span>
        </mat-list-item>

      </mat-list>
    </div>
  </div>
</section>
